<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		
	<link rel="stylesheet" href="css/bootstrap.min.css" />
		<style type="text/css">
			*{
				padding: 0px;
				margin: 0px;
			}
			#lx{
				width: 99%;
				height: 99%;
			}
			#tou{
				background-color: #F7FFFF;
				height: 52px;
				width: 100%;
			}
			#tou p{
				padding-top: 8px;
				font-size: 26px;
				float: left;
				padding-left: 15px;
				padding-right: 800px;
			}
			#tou input{
				margin-top: 6px;
				float: left;
				width: 400px;
				height: 40px;
			}
			#tou button{
				border: 0px;
				margin-top: 6px;
				margin-left: 20px;
				height: 40px;
				width: 70px;
				float: left;
			}
			#sou{
				background-color: orange;
			}
			#che{
				font-size: 16px;
				background-color: #EFF7FF;
				display: none;
			}
			#body div{
				height: 40px;
				width: 100%;
			}
			#body div p{
				margin-top: 6px;
				float: left;
				margin-left: 15px;
			}
			#body div a{
				margin-top: 6px;
				margin-left: 70px;
				float: left;
				color: darkgrey;
			}
			.shou{
				margin-top: 6px;
				float: right;
				color: #46B8DA;
				border: 0px;
				background-color: #EFF7FF;
			}
			#kehu{
				background-color: #EFF7FF;
				font-size: 16px;
				display: none;
			}
			#xuan label{
				float: left;
			}
			#xuan input{
				float: left;
			}
			#xuan button{
				padding-left: 20px;
				float: left;
				margin-top: 8px;
				border: 0px;
				background-color: #F7F7F7;
			}
			
			#xuan{
				background-color: #F7F7F7;
				height: 40px;
				width: 100%;
				
			}
			#daochu{
				margin-left: 150px;
			}
			tr.focus{
				background-color: orange;
			}
			thead{
				background-color: #39CEDE;
			}
			table{
				border: 1px red solid;
				width: 100%;
				
			}
			#111{
				height: 40px;
				widows: 100%;
			}
			.xx{
				border: 0px;
				float: left;
				width: 80px;
				height: 40px;
				background-color: white;
				text-align: center;
			}
			#mb{
				background-color: #F7FFDE;
				margin: 20px;
				border: 1px #39CEDE solid;
			}
			.gs{
				margin-left: 80px;
				line-height: 50px;
			}
			#mb>span{
				color: #39CEDE;
				margin-right: 30px;
			}
			.oh{
				border-left: 5px orange solid;
			}
		</style>
	</head>
	<body>
		<div id="lx">
		<div id="tou">
			<p>车资料</p>
			<input type="text" style="margin-left: -220px;" placeholder="匹配驾驶员姓名/简码/手机/车牌号"/>
			<button id="sou">搜索</button>
			<button>关闭</button>
		</div>
		<div id="body">
			<div style="background-color: #F7F7F7;">
				<label style="margin-top: 8px;margin-left: -90px;">车牌号</label><input type="text" style="margin-top: 8px;"/>
				<label style="margin-top: 8px;">车架号</label><input type="text" style="margin-top: 8px;"/>
			</div>
			<div id="xuan" >
				<button @click="s">增加</button>
				<button @click="upche()">修改</button>
				<button>删除</button>
				<button id="daochu" data-toggle="modal" data-target="#baoyang">保养</button>
				<button @click="dc">导出</button>
				<button @click="ziduan">字段设置</button>
			</div>
			<div style="width:1270px; height:250px; overflow:scroll;">
			<table class="table table-bordered" style="width:2800px;max-width: 2820px; height:200px;max-height: 220px; text-align:center" id="chegg">
				<thead>
					<tr>
						<td v-for="item in czd">
							{{item.dname}}
						</td>
					</tr>
				</thead>
				<tbody>
					<tr v-for="item in car" @click="xzz(item)" v-if="zd[0]">
							<td class="pintr1" v-if="zd[0].display==1">{{item.platename}}</td>
							<td class="pintr1" v-if="item.carbrand&&zd[1].display==1">{{item.carbrand.brandname}}</td><td v-else-if="zd[1].display==1"></td>
							<td class="pintr1" v-if="item.chexingdingyibiao&&zd[2].display==1">{{item.chexingdingyibiao.cname}}</td><td v-else-if="zd[2].display==1"></td>
							<td class="pintr1" v-if="zd[3].display==1">{{item.driver}}</td>
							<td class="pintr1" v-if="zd[4].display==1">{{item.driverphone}}</td>
							<td class="pintr1" v-if="zd[5].display==1">{{item.birthday}}</td>
							<td class="pintr1" v-if="item.caraffiliation&&zd[6].display==1">{{item.caraffiliation.caraffiliation}}</td><td v-else-if="zd[6].display==1">sss</td>
							<td class="pintr1" v-if="zd[7].display==1">{{item.drivingouttime}}</td>
							<td class="pintr1" v-if="zd[8].display==1">{{item.framnum}}</td>
							<td class="pintr1" v-if="zd[9].display==1">{{item.enginenum}}</td>
							<td class="pintr1" v-if="item.fadongjipinpaibiao&&zd[10].display==1">{{item.fadongjipinpaibiao.fname}}</td><td v-else-if="zd[10].display==1"></td>
							<td class="pintr1" v-if="zd[11].display==1">{{item.carnyear}}</td>
							<td class="pintr1" v-if="zd[12].display==1">{{item.mileage}}</td>
							<td class="pintr1" v-if="zd[13].display==1">{{item.load}}</td>
							<td class="pintr1" v-if="zd[14].display==1">{{item.carseries}}</td>
							<td class="pintr1" v-if="zd[15].display==1">{{item.buytime}}</td>
							<td class="pintr1" v-if="zd[16].display==1">{{item.uptime}}</td>
							<td class="pintr1" v-if="zd[17].display==1">{{item.carouttime}}</td>
							<td class="pintr1" v-if="item.mlicompany&&zd[18].display==1">{{item.mlicompany.mlicompany}}</td><td v-else-if="zd[19].display==1"></td>
							<td class="pintr1" v-if="zd[19].display==1">{{item.mliouttime}}</td>
							<td class="pintr1" v-if="item.cicompany&&zd[20].display==1">{{item.cicompany.cicompany}}</td><td v-else-if="zd[21].display==1"></td>
							<td class="pintr1" v-if="zd[21].display==1">{{item.ciouttime}}</td>
							<td class="pintr1" v-if="zd[22].display==1">{{item.mytoucar}}</td>
							<td class="pintr1" v-if="zd[23].display==1">{{item.twotime}}</td>
							<td class="pintr1" v-if="item.oiltype&&zd[24].display==1">{{item.oiltype.oiltype}}</td><td v-else-if="zd[25].display==1"></td>
							<td class="pintr1" v-if="zd[25].display==1">{{item.nextmileage}}</td>
							<td class="pintr1" v-if="zd[26].display==1">{{item.nextupkeeptime}}</td>
							<td class="pintr1" v-if="zd[27].display==1">{{item.membernum}}</td>
					</tr>
				</tbody>
			</table>
			</div>
		</div>
		<div id="foot" >
			<div id="cheziliao">
				<button class="xx" style="border: 2px black solid;">车辆信息</button>
				<button class="xx" @click="sc">历史维修</button>
			</div>
			<div style="width:1280px; height:200px; overflow:scroll;" class="div">
			<table class="table table-bordered" style="width:2800px;max-width: 2820px; text-align:center" id="chexian">
				<thead>
					<tr style="height: 30px;">
						<td>客户编号</td>
						<td>客户名称</td>
						<td>详细地址</td>
						<td>联系人</td>
						<td>手机</td>
						<td>客户生日</td>
						<td>客户类别</td>
						<td>会员卡号</td>
						<td>入会日期</td>
						<td>会员到期</td>
						<td>备注</td>
						<td>建档日期</td>
						<td>服务顾问</td>
						<td>业务员电话</td>
						<td>账期(天)</td>
						<td>挂账额度</td>
						<td>累计积分</td>
						<td>定金余额</td>
						<td>客户省</td>
						<td>客户市</td>
						<td>客户区</td>
						<td>纳税人识别号</td>
						<td>注册电话</td>
						<td>开户银行</td>
						<td>银行账号</td>
						<td>注册地址</td>
						<td>其他一</td>
						<td>其他二</td>
						<td>其他三</td>
						<td>其他四</td>
						<td>单据类型</td>
					</tr>
				</thead>
				<tbody>
					<tr style="height: 30px;" v-for="item in customer" @click="findc(item)">
						<td class="pintr1">{{item.customernum}}</td>
						<td class="pintr1" >{{item.customername}}</td>
						<td class="pintr1" >{{item.customeraddress}}</td>
						<td class="pintr1" >{{item.linkman}}</td>
						<td class="pintr1">{{item.phone}}</td>
						<td class="pintr1" >{{item.birthday}}</td>
						<td class="pintr1" v-if="item.customertype">{{item.customertype.customertype}}</td><td v-else></td>
						<td class="pintr1">{{item.customernumber}}</td>
						<td class="pintr1">{{item.jointime}}</td>
						<td class="pintr1">{{item.outtime}}</td>
						<td class="pintr1">{{item.remark}}</td>
						<td class="pintr1">{{item.filing}}</td>
						<td class="pintr1" v-if="item.yuan">{{item.yuan.yname}}</td><td v-else></td>
						<td class="pintr1" v-if="item.yuan">{{item.yuan.yphonenumber}}</td><td v-else></td>
						<td class="pintr1">{{item.paytime}}</td>
						<td class="pintr1">{{item.payment}}</td>
						<td class="pintr1">{{item.integral}}</td>
						<td class="pintr1">{{item.earnest}}</td>
						<td class="pintr1">省</td>
						<td class="pintr1">市</td>
						<td class="pintr1">区</td>
						<td class="pintr1">{{item.paytest}}</td>
						<td class="pintr1">{{item.registerphone}}</td>
						<td class="pintr1">{{item.desportbank}}</td>
						<td class="pintr1">{{item.bankaccount}}</td>
						<td class="pintr1">{{item.registeraddress}}</td>
						<td class="pintr1">{{item.otherone}}</td>
						<td class="pintr1">{{item.othertwo}}</td>
						<td class="pintr1">{{item.otherthree}}</td>
						<td class="pintr1">{{item.otherfour}}</td>
					</tr>
				</tbody>
			</table>
			</div>
			<div class="div" style="width:100%;overflow-y: scroll; height: 250px; display: none;">
			<table id="lsxf" class="table table-bordered" style="display: none;height: 100px;">
						<tr style="background-color: #39CEDE;">
							<td>单据类型</td>
							<td>销售单号</td>
							<td>车牌号</td>
							<td>维修业务</td>
							<td>进厂时间</td>
							<td>完工时间</td>
							<td>结算时间</td>
							<td>消费金额</td>
						</tr>
						<tr v-for="item in ls">
							<td>{{item.lx}}</td>
							<td>{{item.dh}}</td>
							<td>{{item.cph}}</td>
							<td>{{item.wxyw}}</td>
							<td>{{item.jcsj}}</td>
							<td>{{item.wgsj}}</td>
							<td>{{item.jssj}}</td>
							<td>{{item.xfje}}</td>
						</tr>
					</table>
			</div>
			</div>
			<div class="modal" id="mymodal" data-backdrop="static">
				<div style="width: 900px;" class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<span class="close" data-dismiss="modal">&times;</span>
							<h5 class="col-xs-10">车辆资料编辑</h5>
							<button class="btn btn-default col-xs-1" style="background-color:#82D921 ;" @click="ddd()">保存</button>
						</div>
						<div class="modal-body" style="background-color: #F7F7F7;">
								<table class="table table-hover">
									<tr>
										<td>*<label style="margin-left: 10px;">车牌号码</label><input style="width: 120px;margin-left: 7px;" v-model="ccar.platename"/><img @click="mod9" src="img/20210125084610.png" height="23" width="16px" style="margin-top:-2.5px;">*<label style="margin-left: 10px;">车辆品牌</label><input style="width: 120px; margin-left: 10px;" ><img @click="mod1" src="img/20210125084610.png" height="23" width="16px" style="margin-top:-2.5px; margin-right: 4px;">*<label style="margin-left: 10px;">车辆型号</label><input style="width: 120px;margin-left: 7px;margin-right: 10px;" >*<label style="margin-left: 10px;">驾驶员</label><input style="width: 120px;margin-left: 7px;margin-right: 10px;" v-model="ccar.driver"></td>
									</tr>

									<tr>
										<td>*<label style="margin-left: 10px;">驾驶员电话</label><input style="width: 105px;margin-left: 7px;margin-right: 10px;" v-model="ccar.driverphone"/><label style="margin-left: 11px;">出生日期</label><input style="width: 120px; margin-left: 10px;margin-right: 10px;" v-model="ccar.birthday"><label style="margin-left: 11px;">驾驶员地址</label><input style="width: 310px;margin-left: 7px;margin-right: 10px;" v-model="ccar.driveraddress"></td>
									</tr>
									<tr>
										<td><label style="margin-left: 11px;">车架号</label><input style="width: 170px;margin-left: 7px;margin-right: 10px;" v-model="ccar.framnum"/><label style="margin-left: 11px;">发动机号</label><input style="width: 120px; margin-left: 10px;margin-right: 10px;" v-model="ccar.enginenum"><label style="margin-left: 11px;">车辆年款</label><input style="width: 80px;margin-left: 7px;margin-right: 10px;" v-model="ccar.carnyear"><label style="margin-left: 11px;">里程</label><input style="width: 155px;margin-left: 7px;margin-right: 10px;" v-model="ccar.mileage">
									</tr>
									<tr>
										<td>*<label style="margin-left: 10px;">发动机品牌</label>
											<select style="width: 280px;margin-left: 20px;" v-model="ccar.engineid">
												<option v-for="item in fd" :value="item.fid">
													{{item.fname}}
												</option>
											</select><label style="margin-left: 11px;">载重</label><input style="width: 180px; margin-left: 10px;margin-right: 10px;" v-model="ccar.load"><label style="margin-left: 11px;">购买日期</label><input style="width: 120px;margin-left: 7px;margin-right: 10px;" v-model="ccar.buytime"></td>
									</tr>
									<tr>
										<td><label style="margin-left: 11px;">上牌日期</label><input style="width: 120px;margin-left: 7px;margin-right: 10px;" v-model="ccar.uptime"><label style="margin-left: 11px;">车检到期</label><input style="width: 130px; margin-left: 10px;margin-right: 10px;" v-model="ccar.carouttime"><label style="margin-left: 11px;">二维日期</label><input style="width: 130px;margin-left: 7px;margin-right: 10px;" v-model="ccar.twotime"><label style="margin-left: 11px;">车系</label><input style="width: 137px;margin-left: 7px;margin-right: 10px;" v-model="ccar.carseries"></td>
									</tr>
									<tr>
										<td>
											<span style="color: red;">保险</span>
											<label style="margin-left: 11px;">交强险保险公司</label>
											<select style="margin-left: 10px;width: 105px;" v-model="ccar.mlicompanyid">
												<option v-for="item in jq" :value="item.mlicompanyid">
													{{item.mlicompany}}
												</option>
											</select><label style="margin-left: 11px;">交强险到期</label><input style="width: 130px; margin-left: 10px;margin-right: 10px;" v-model="ccar.mliouttime"><input type="checkbox" @click="chezc2" v-model="z2"><label style="margin-left: 3px;margin-right: ;">在我投保投车</label>*<label style="margin-left: 10px;">车辆归属</label>
											<select style="margin-left: 10px;width: 150px;height: 25px;" v-model="ccar.caraffiliationid">
												<option v-for="item in gs" :value="item.caraffiliationid">
													{{item.caraffiliation}}
												</option>
											</select>
											<img @click="mod2" src="img/20210125084610.png" height="25" width="16px" style="margin-top:-4px;margin-left: -3px;" />
										</td>
									</tr>
									<tr>
										<td>
											<label style="margin-left: 43px;">商业险保险公司</label>
											<select style="margin-left: 10px;width: 105px;" v-model="ccar.cicompanyid">
												<option v-for="item in sy" :value="item.cicompanyid">
													{{item.cicompany}}
												</option>
											</select><label style="margin-left: 11px;">商业险到期</label><input style="width: 130px; margin-left: 10px;margin-right: 10px;" v-model="ccar.ciouttime"><label>驾证到期</label><input style="width: 90px;margin-left:7px;margin-right: 10px;" v-model="ccar.drivingouttime"><label>燃油类别</label>
											<select style="margin-left: 10px;width: 103px;height: 25px;" v-model="ccar.oiltypeid">
												<option v-for="item in ry" :value="item.oiltypeid">
													{{item.oiltype}}
												</option>
											</select>
											<img @click="mod3" src="img/20210125084610.png" height="25" width="16px" style="margin-top:-4px;margin-left: -3px;" />
										</td>
									</tr>
									<tr>
										<td>
											<label style="margin-left: 11px;">下次保养里程</label><input style="margin-left: 10px; width: 110px;" v-model="ccar.nextmileage"><label style="margin-left: 11px;">下次保养日期</label><input style="width: 130px; margin-left: 10px;margin-right: 10px;" v-model="ccar.nextupkeeptime"><label>客户名称</label>
											<select v-model="ccar.customernum">
												<option v-for="item in cop" :value="item.customernum">
													{{item.customername}}
												</option>
											</select>
										</td>
									</tr>
								</table>
							</div>
					</div>
				</div>
			</div>
			<div class="modal" id="mymodal12" data-backdrop="static">
				<div style="width: 800px;" class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header" style="">
							<span class="close" data-dismiss="modal">&times;</span>
							<h5 class="col-xs-10">字段设置1</h5>

						</div>
						<div class="modal-body" style="background-color: #F7F7F7;height: 380px;">
							<div style="background: #F7FFDE;width: 760PX;line-height: 37px;">
								<button class="btn btn-default col-xs-1" style="background-color:#82D921 ;" @click="qdd">确定</button>
								<img src="img/20210126141619.png" style="margin-left: 520px;" @click="qbzx()">全部选择
								<img src="img/20210126141636.png" @click="qbqx">全部取消
							</div>
							<div style="width: 760px;height: 300px;overflow-y:scroll;">
								<table class="table table-bordered" style="width: 760px;">
									<tr>
										<td style="width:100px;">显示</td>
										<td style="width:170px;">字段</td>
										<td style="width:190px;">字段名称</td>
										<td style="width:90px;">序号</td>
										<td>显示宽度</td>
									</tr>
									<tr v-for="item in zd">
										<td><input type="checkbox" v-model="ss" :value="item.id"></td>
										<td>{{item.zname}}</td>
										<td>{{item.dname}}</td>
										<td>{{item.id}}</td>
										<td>{{item.width}}</td>
									</tr>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal" id="mymodal1" data-backdrop="static">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<span class="close" data-dismiss="modal">&times;</span>
							<h5 class="col-xs-10">车牌字</h5>
						</div>
						<div class="modal-body">
							<div style="width: 380px;margin-left: 100px;height: 300px;  ">
								<div style="width:46px;box-shadow:0.5px 1px 0px 1px; height: 36px;background-color:#F7F7F7;text-align: center;padding-top: 8px;float: left; margin-left:10px ;">京</div>
								<div style="width:46px;box-shadow:0.5px 1px 0px 1px; height: 36px;background-color:#F7F7F7;text-align: center;padding-top: 8px;float: left; margin-left:10px ;">沪</div>
								<div style="width:46px;box-shadow:0.5px 1px 0px 1px; height: 36px;background-color:#F7F7F7;text-align: center;padding-top: 8px;float: left; margin-left:10px ;">津</div>
								<div style="width:46px;box-shadow:0.5px 1px 0px 1px; height: 36px;background-color:#F7F7F7;text-align: center;padding-top: 8px;float: left; margin-left:10px ;">渝</div>
								<div style="width:46px;box-shadow:0.5px 1px 0px 1px; height: 36px;background-color:#F7F7F7;text-align: center;padding-top: 8px;float: left; margin-left:10px ;">鲁</div>
								<div style="width:46px;box-shadow:0.5px 1px 0px 1px; height: 36px;background-color:#F7F7F7;text-align: center;padding-top: 8px;float: left; margin-left:10px ;">冀</div>
								<div style="width:46px;box-shadow:0.5px 1px 0px 1px; height: 36px;background-color:#F7F7F7;text-align: center;padding-top: 8px;float: left; margin-left:10px ; margin-top:9px;">晋</div>
								<div style="width:46px;box-shadow:0.5px 1px 0px 1px; height: 36px;background-color:#F7F7F7;text-align: center;padding-top: 8px;float: left; margin-left:10px ; margin-top:9px;">蒙</div>
								<div style="width:46px;box-shadow:0.5px 1px 0px 1px; height: 36px;background-color:#F7F7F7;text-align: center;padding-top: 8px;float: left; margin-left:10px; margin-top:9px;">辽</div>
								<div style="width:46px;box-shadow:0.5px 1px 0px 1px; height: 36px;background-color:#F7F7F7;text-align: center;padding-top: 8px;float: left; margin-left:10px; margin-top:9px;">吉</div>
								<div style="width:46px;box-shadow:0.5px 1px 0px 1px; height: 36px;background-color:#F7F7F7;text-align: center;padding-top: 8px;float: left; margin-left:10px; margin-top:9px;">黑</div>
								<div style="width:46px;box-shadow:0.5px 1px 0px 1px; height: 36px;background-color:#F7F7F7;text-align: center;padding-top: 8px;float: left; margin-left:10px; margin-top:9px;">苏</div>
								<div style="width:46px;box-shadow:0.5px 1px 0px 1px; height: 36px;background-color:#F7F7F7;text-align: center;padding-top: 8px;float: left; margin-left:10px; margin-top:9px;">浙</div>
								<div style="width:46px;box-shadow:0.5px 1px 0px 1px; height: 36px;background-color:#F7F7F7;text-align: center;padding-top: 8px;float: left; margin-left:10px; margin-top:9px;">皖</div>
								<div style="width:46px;box-shadow:0.5px 1px 0px 1px; height: 36px;background-color:#F7F7F7;text-align: center;padding-top: 8px;float: left; margin-left:10px; margin-top:9px;">闽</div>
								<div style="width:46px;box-shadow:0.5px 1px 0px 1px; height: 36px;background-color:#F7F7F7;text-align: center;padding-top: 8px;float: left; margin-left:10px; margin-top:9px;">赣</div>
								<div style="width:46px;box-shadow:0.5px 1px 0px 1px; height: 36px;background-color:#F7F7F7;text-align: center;padding-top: 8px;float: left; margin-left:10px; margin-top:9px;">豫</div>
								<div style="width:46px;box-shadow:0.5px 1px 0px 1px; height: 36px;background-color:#F7F7F7;text-align: center;padding-top: 8px;float: left; margin-left:10px; margin-top:9px;">鄂</div>
								<div style="width:46px;box-shadow:0.5px 1px 0px 1px; height: 36px;background-color:#F7F7F7;text-align: center;padding-top: 8px;float: left; margin-left:10px; margin-top:9px;">湘</div>
								<div style="width:46px;box-shadow:0.5px 1px 0px 1px; height: 36px;background-color:#F7F7F7;text-align: center;padding-top: 8px;float: left; margin-left:10px; margin-top:9px;">粤</div>
								<div style="width:46px;box-shadow:0.5px 1px 0px 1px; height: 36px;background-color:#F7F7F7;text-align: center;padding-top: 8px;float: left; margin-left:10px; margin-top:9px;">桂</div>
								<div style="width:46px;box-shadow:0.5px 1px 0px 1px; height: 36px;background-color:#F7F7F7;text-align: center;padding-top: 8px;float: left; margin-left:10px; margin-top:9px;">琼</div>
								<div style="width:46px;box-shadow:0.5px 1px 0px 1px; height: 36px;background-color:#F7F7F7;text-align: center;padding-top: 8px;float: left; margin-left:10px ; margin-top:9px;">川</div>
								<div style="width:46px;box-shadow:0.5px 1px 0px 1px; height: 36px;background-color:#F7F7F7;text-align: center;padding-top: 8px;float: left; margin-left:10px; margin-top:9px;">贵</div>
								<div style="width:46px;box-shadow:0.5px 1px 0px 1px; height: 36px;background-color:#F7F7F7;text-align: center;padding-top: 8px;float: left; margin-left:10px; margin-top:9px;">云</div>
								<div style="width:46px;box-shadow:0.5px 1px 0px 1px; height: 36px;background-color:#F7F7F7;text-align: center;padding-top: 8px;float: left; margin-left:10px; margin-top:9px;">藏</div>
								<div style="width:46px;box-shadow:0.5px 1px 0px 1px; height: 36px;background-color:#F7F7F7;text-align: center;padding-top: 8px;float: left; margin-left:10px; margin-top:9px;">陕</div>
								<div style="width:46px;box-shadow:0.5px 1px 0px 1px; height: 36px;background-color:#F7F7F7;text-align: center;padding-top: 8px;float: left; margin-left:10px; margin-top:9px;">甘</div>
								<div style="width:46px;box-shadow:0.5px 1px 0px 1px; height: 36px;background-color:#F7F7F7;text-align: center;padding-top: 8px;float: left; margin-left:10px; margin-top:9px;">青</div>
								<div style="width:46px;box-shadow:0.5px 1px 0px 1px; height: 36px;background-color:#F7F7F7;text-align: center;padding-top: 8px;float: left; margin-left:10px; margin-top:9px;">宁</div>
								<div style="width:46px;box-shadow:0.5px 1px 0px 1px; height: 36px;background-color:#F7F7F7;text-align: center;padding-top: 8px;float: left; margin-left:10px; margin-top:9px;">新</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal" id="mymodal2" data-backdrop="static">
				<div class="modal-dialog" style="width: 850px;height: 800px;">
					<div class="modal-content">
						<div class="modal-header">
							<span class="close" data-dismiss="modal">&times;</span>
							<h5 class="col-xs-7">品牌车型</h5>
							<button class="btn btn-default" style="background-color:#82D921; width: 70px;margin-left: 80px;">保存</button>
							<button class="btn btn-default " style="background-color:#F7F7F7 ;">关闭</button>
						</div>
						<div class="modal-body" style="height: 500px;background-color: #F7F7F7;">
							<div>
								<input placeholder="匹配 品牌编码/品牌名称/首字母" style="height: 30px;width: 200px;" />
								<button class="btn btn-default" style="background-color: #FAAC23;margin-top: -2px; width: 90px;line-height: 20px;">搜索</button>
								<input placeholder="匹配 车型编码/车型名称" style="height: 30px;width: 200px;margin-left: 70px;" />
								<button class="btn btn-default" style="background-color: #FAAC23;margin-top: -2px; width: 90px;line-height: 20px;">搜索</button>
							</div>
							<div style="width: 300px;height:400px;float: left;background-color:white; ">
								<table class="table table-bordered">
									<tr>
										<td style="width: 50px;">编码</td>
										<td>品牌名称</td>
										<td style="width: 60px;">首字母</td>
									</tr>
									<tr>
										<td>113</td>
										<td>中国重汽</td>
										<td>A</td>
									</tr>
								</table>
							</div>
							<div style="width: 500px;height:400px;float: left;background-color:white;margin-left: 15px;overflow: scroll;">
								<table class="table table-bordered" style="width:800px; max-width: 820px;">
									<tr>
										<td>车型ID</td>
										<td style="width: 150px;">车型名称</td>
										<td>参考价格</td>
										<td>车辆年款</td>
										<td>排气量</td>
										<td>进口国产</td>
										<td>燃油标号</td>
										<td>四驱类型</td>
									</tr>
									<tr>
										<td>50001</td>
										<td>重汽汕德卡</td>
										<td></td>
										<td></td>
										<td></td>
										<td>进口s</td>
										<td></td>
										<td></td>
									</tr>
								</table>
							</div>
							<span style="line-height: 50px;">记录条数:</span>
						</div>
					</div>
				</div>
			</div>
			<div class="modal" id="mymodal3" data-backdrop="static">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<span class="close" data-dismiss="modal">&times;</span>
							<h4>选择内容设置</h4></div>
						<div class="modal-body" style="margin-top: -14px;margin-left: -16px;height: 400px;">
							<div style="width: 600px;background-color: #D6D6CE;line-height: 30px;">
								<img style="margin-left: 500px;" src="img/QQ图片20210121164522.png" width="14">修改
								<img src="img/20210125191943.png" width="14">保存
							</div>
							<div style="width:400px;height: 300px;">
								<table class="table table-bordered">
									<tr style="background-color: #39CEDE;">
										<td>序号</td>
										<td>车辆归属</td>
									</tr>
									<tr>
										<td>1</td>
										<td>个人车</td>
									</tr>
								</table>
							</div>
						</div>
						<div class="modal-footer" style="background-color:#F7F7F7;">
							<button class="btn btn-default" style="background-color:#82DA23;width: 90px;line-height: 24px;">选择</button>
						</div>
					</div>
				</div>
			</div>
			<div class="modal" id="mymodal4" data-backdrop="static">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<span class="close" data-dismiss="modal">&times;</span>
							<h4>选择内容设置</h4></div>
						<div class="modal-body" style="margin-top: -14px;margin-left: -16px;height: 400px;">
							<div style="width: 600px;background-color: #D6D6CE;line-height: 30px;">
								<img style="margin-left: 500px;" src="img/QQ图片20210121164522.png" width="14">修改
								<img src="img/20210125191943.png" width="14">保存
							</div>
							<div style="width:400px;height: 300px;">
								<table class="table table-bordered">
									<tr style="background-color: #39CEDE;">
										<td>序号</td>
										<td>燃油类别</td>
									</tr>
									<tr>
										<td>1</td>
										<td>柴油</td>
									</tr>
								</table>
							</div>
						</div>
						<div class="modal-footer" style="background-color:#F7F7F7;">
							<button class="btn btn-default" style="background-color:#82DA23;width: 90px;line-height: 24px;">选择</button>
						</div>
					</div>
				</div>
			</div>
			<div class="modal fade" id="baoyang" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header" style="background-color:#F7FFFF;">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        <h4 class="modal-title" id="myModalLabel">车辆保养登记</h4>
			      </div>
			      <div class="modal-body">
			        <div style="background-color:#F7F7F7;">
			        	<p style="float: left;">车牌号：藏</p>
			        	<button style="float: left; margin-left: 250px; border: 0px; background-color: white;" data-toggle="modal" data-target="#insertBY" click="s">增加</button>
			        	<button style="float: left; border: 0px; margin-left: 20px; background-color: white;">修改</button>
			        	<button style="float: left; border: 0px; margin-left: 20px; background-color: white;">删除</button>
			        	<button style="float: left; border: 0px; margin-left: 20px; background-color: white;">导出</button>
			        </div>
			        <table class="table table-bordered">
			        	<thead>
			        		<tr>
			       				<td>车牌号</td>
			       				<td>保养名称</td>
			       				<td>计划日期</td>
			       				<td>计划里程</td>
			       				<td>实际日期</td>
			       				<td>实际里程</td>
			        		</tr>
			        	</thead>
			        	<tbody>
			        		<tr>
			        			<td>车牌号</td>
			       				<td>保养名称</td>
			       				<td>计划日期</td>
			       				<td>计划里程</td>
			       				<td>实际日期</td>
			       				<td>实际里程</td>
			        		</tr>
			        	</tbody>
			        </table>
			      </div>
			    </div>
			  </div>
			</div>
			<div class="modal fade" id="insertBY" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        <h5 class="modal-title" id="myModalLabel">车辆保养登记</h5>
			      </div>
			      <div class="modal-body" style="background-color:#F7F7F7; height: 70%;">
			        <table class="table table-hover" style="border: 0px;">
			        	<tr>
			        		<td><label>保养名称：</label><input type="text"/></td>
			        	</tr>
			        	<tr>
			        		<td><label>计划里程：</label><input type="text"/><label>计划日期：</label><input type="date"/></td>
			        	</tr>
			        	<tr>
			        		<td><label>备注：</label><input type="text"/></td>
			        	</tr>
			        </table>
			      </div>
			      <div class="modal-footer">
			        <button class="btn btn-success">保存</button>
			      </div>
			    </div>
			  </div>
			</div>
			<div class="modal" id="mymodal45" data-backdrop="static">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<span class="close" data-dismiss="modal">&times;</span>
								<h5 class="col-xs-10">车牌字</h5>
							</div>
							<div class="modal-body">
								<div style="width: 380px;margin-left: 100px;height: 300px;  ">
									<div @click="xcp4(item)" style="width:46px;box-shadow:0.5px 1px 0px 1px; height: 36px;background-color:#F7F7F7;text-align: center;padding-top: 8px;float: left; margin-left:10px ; margin-top:9px;" v-for="item in plate1">{{item.platename}}</div>
								</div>
							</div>
						</div>
					</div>
			</div>
			<div class="modal" id="mymodal38" data-backdrop="static">
					<div style="width: 900px;" class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<span class="close" data-dismiss="modal">&times;</span>
								<h5 class="col-xs-10">车辆资料编辑1</h5>
								<button class="btn btn-default col-xs-1" style="background-color:#82D921 ;" @click="cbc()">保存</button>
							</div>
							<div class="modal-body" style="background-color: #F7F7F7;">
								<table class="table table-hover">
									<tr>
										<td>*<label style="margin-left: 10px;">车牌号码</label><input style="width: 120px;margin-left: 7px;" v-model="cs.platename"/><img @click="mod4" src="img/20210125084610.png" height="23" width="16px" style="margin-top:-2.5px;">*<label style="margin-left: 10px;">车辆品牌</label><input style="width: 120px; margin-left: 10px;">*<label style="margin-left: 10px;">车辆型号</label><input style="width: 120px;margin-left: 7px;margin-right: 10px;">*<label style="margin-left: 10px;">驾驶员</label><input style="width: 120px;margin-left: 7px;margin-right: 10px;" v-model="cs.driver"></td>
									</tr>

									<tr>
										<td>*<label style="margin-left: 10px;">驾驶员电话</label><input style="width: 105px;margin-left: 7px;margin-right: 10px;" v-model="cs.driverphone"/><label style="margin-left: 11px;">出生日期</label><input style="width: 120px; margin-left: 10px;margin-right: 10px;" v-model="cs.birthday"><label style="margin-left: 11px;">驾驶员地址</label><input style="width: 310px;margin-left: 7px;margin-right: 10px;" v-model="cs.driveraddress"></td>
									</tr>
									<tr>
										<td><label style="margin-left: 11px;">车架号</label><input style="width: 170px;margin-left: 7px;margin-right: 10px;" v-model="cs.framnum"/><label style="margin-left: 11px;">发动机号</label><input style="width: 120px; margin-left: 10px;margin-right: 10px;" v-model="cs.enginenum"><label style="margin-left: 11px;">车辆年款</label><input style="width: 80px;margin-left: 7px;margin-right: 10px;" v-model="cs.carnyear"><label style="margin-left: 11px;">里程</label><input style="width: 155px;margin-left: 7px;margin-right: 10px;" v-model="cs.mileage">
									</tr>
									<tr>
										<td>*<label style="margin-left: 10px;">发动机品牌</label>
											<select style="width: 280px;margin-left: 20px;" v-model="cs.engineid">
												<option v-for="item in fd" :value="item.fid">
													{{item.fname}}
												</option>
											</select><label style="margin-left: 11px;">载重</label><input style="width: 180px; margin-left: 10px;margin-right: 10px;" v-model="cs.load"><label style="margin-left: 11px;">购买日期</label><input style="width: 120px;margin-left: 7px;margin-right: 10px;" v-model="cs.buytime"></td>
									</tr>
									<tr>
										<td><label style="margin-left: 11px;">上牌日期</label><input style="width: 120px;margin-left: 7px;margin-right: 10px;"><label style="margin-left: 11px;">车检到期</label><input style="width: 130px; margin-left: 10px;margin-right: 10px;"><label style="margin-left: 11px;">二维日期</label><input style="width: 130px;margin-left: 7px;margin-right: 10px;"><label style="margin-left: 11px;">车系</label><input style="width: 137px;margin-left: 7px;margin-right: 10px;"></td>
									</tr>
									<tr>
										<td>
											<span style="color: red;">保险</span>
											<label style="margin-left: 11px;">交强险保险公司</label>
											<select style="margin-left: 10px;width: 105px;" v-model="cs.mlicompanyid">
												<option v-for="item in jq" :value="item.mlicompanyid">
													{{item.mlicompany}}
												</option>
											</select><label style="margin-left: 11px;">交强险到期</label><input style="width: 130px; margin-left: 10px;margin-right: 10px;" v-model="cs.mliouttime"><input type="checkbox" v-model="z1" @click="chezc1"><label style="margin-left: 3px;margin-right: ;">在我投保投车</label>*<label style="margin-left: 10px;">车辆归属</label>
											<select style="margin-left: 10px;width: 150px;height: 25px;" v-model="cs.caraffiliationid">
												<option v-for="item in gs" :value="item.caraffiliationid">
													{{item.caraffiliation}}
												</option>
											</select>
											<img @click="mod2" src="img/20210125084610.png" height="25" width="16px" style="margin-top:-4px;margin-left: -3px;" />
										</td>
									</tr>
									<tr>
										<td>
											<label style="margin-left: 43px;">商业险保险公司</label>
											<select style="margin-left: 10px;width: 105px;" v-model="cs.cicompanyid">
												<option v-for="item in sy" :value="item.cicompanyid">
													{{item.cicompany}}
												</option>
											</select><label style="margin-left: 11px;">商业险到期</label><input style="width: 130px; margin-left: 10px;margin-right: 10px;"><label>驾证到期</label><input style="width: 90px;margin-left:7px;margin-right: 10px;"><label>燃油类别</label>
											<select style="margin-left: 10px;width: 103px;height: 25px;" v-model="cs.oiltypeid">
												<option v-for="item in ry" :value="item.oiltypeid">
													{{item.oiltype}}
												</option>
											</select>
											<img @click="mod3" src="img/20210125084610.png" height="25" width="16px" style="margin-top:-4px;margin-left: -3px;" />
										</td>
									</tr>
									<tr>
										<td>
											<label style="margin-left: 11px;">下次保养里程</label><input style="margin-left: 10px; width: 110px;" v-model="cs.nextmileage"><label style="margin-left: 11px;">下次保养日期</label><input style="width: 130px; margin-left: 10px;margin-right: 10px;" v-model="cs.nextupkeeptime"><label>客户名称</label>
											<select v-model="cs.customernum">
												<option v-for="item in cop" :value="item.customernum">
													{{item.customername}}
												</option>
											</select>
										</td>
									</tr>
								</table>
							</div>
						</div>
					</div>
				</div>
				<div class="modal" id="mymodal39" data-backdrop="static">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<span class="close" data-dismiss="modal">&times;</span>
								<h5 class="col-xs-10">车牌字</h5>
							</div>
							<div class="modal-body">
								<div style="width: 380px;margin-left: 100px;height: 300px;  ">
									<div @click="xcp1(item)" style="width:46px;box-shadow:0.5px 1px 0px 1px; height: 36px;background-color:#F7F7F7;text-align: center;padding-top: 8px;float: left; margin-left:10px ; margin-top:9px;" v-for="item in plate">{{item.platename}}</div>
								</div>
							</div>
						</div>
					</div>
				</div>
		</div>
	</body>
	<script type="text/javascript" src="js/jquery-1.12.4.js" ></script>
		<script type="text/javascript" src="js/bootstrap.min.js" ></script>
		<script type="text/javascript" src="js/vue.js" ></script>
		<script>
				new Vue({
				el: "#lx",
				data: {
					ss: [],
					car:{},
					customer:{},
					ccar:{},
					cop:{},
					ry:{},
					plate1:{},
					sy:{},
					gs:{},
					jq:{},
					z2:false,
					fd:{},
					cs:{},
					z1:false,
					plate:{},
					zd:[],
					czd:{},
					ls:[],
					lswx:[
						{
							lx:"救援",
							dh:"00RE",
							cph:"辽cxzcxz",
							wxyw:"中国重汽",
							jcsj:"2020-11-16 09:36:20",
							wgsj:"",
							jssj:"",
							xfje:"0.00"
						}
					],
				},
				methods: {
					cxzd(){
						let that=this;
						$.ajax({
							url:"http://127.0.0.1:8080/car/cxzd",
							type:"post",
							success:function(result){
								that.czd=result;
							}
						});
					},
					qdd(){
						let that=this;
						var jsonn=JSON.stringify(this.ss);
						$.ajax({
							url:"http://127.0.0.1:8080/car/qdd",
							type:"post",
							data:jsonn,
							contentType:"application/json;charset=utf-8",
							success:function(result){
								
							}
						});
					},
					qbzx(){
						if(this.zd.length==this.ss.length){
							this.ss=[];
						}else{
							this.ss=this.zd.map(item=>item.id);
						}
					},
					qbqx(){
						this.ss=[];
					},
					sada(){
						let that=this;
						$.ajax({
							aysnc:false,
							url:"http://127.0.0.1:8080/car/sada",
							type:"post",
							success:function(result){
								that.zd=result;
							}
						});
					},
					dc(){
						window.location.href="http://127.0.0.1:8080/car/downloadExcel"
					},
					cbc(){
						let that=this;
						var jjjx=JSON.stringify(this.cs);
						$.ajax({
							url:"http://127.0.0.1:8080/car/cbc",
							data:jjjx,
							type:"post",
							contentType:"application/json;charset=utf-8",
							success:function(result){
								if(result){
									alert("修改成功");
								}
							}
						});
					},
					xcp1(item){
						this.$set(this.cs,'platename',item.platename);
						$("#mymodal39").modal("hide");						
					},
					mod4() {
						$("#mymodal39").modal("show");
					},
					chezc1(){
						if(this.z1){
							this.cs.mytoucar="是";
						}else{
							this.cs.mytoucar="否";
						}
					},
					upche(){
						$("#mymodal38").modal("show");
						if(this.cs.mytoucar="是"){
							this.z1=true;
						}else{
							this.z1=false;
						}
					},
					jqx(){
						let that=this;
						$.ajax({
							url:"http://127.0.0.1:8080/customer/jqx",
							type:"post",
							success:function(result){
								that.jq=result;
							}
						});
					},
					syx(){
						let that=this;
						$.ajax({
							url:"http://127.0.0.1:8080/customer/syx",
							type:"post",
							success:function(result){
								that.sy=result;
							}
						});
					},
					fdj(){
						let that=this;
						$.ajax({
							url:"http://127.0.0.1:8080/customer/fdj",
							type:"post",
							success:function(result){
								that.fd=result;
							}
						});
					},
					clgs(){
						let that=this;
						$.ajax({
							
							url:"http://127.0.0.1:8080/customer/clgs",
							type:"post",
							success:function(result){
								that.gs=result;
							}
						});
					},
					ryl(){
						let that=this;
						$.ajax({
							url:"http://127.0.0.1:8080/customer/ryl",
							type:"post",
							success:function(result){
								that.ry=result;
							}
						})
					},
					op(){
						let that=this;
						$.ajax({
							url:"http://127.0.0.1:8080/customer/op",
							type:"post",
							success:function(result){
								that.cop=result;
							}
						});
					},
					xcp4(item){
						this.$set(this.ccar,'platename',item.platename);
						$("#mymodal45").modal("hide");						
					},
					chezc2(){
						if(this.z2){
							this.ccar.mytoucar="是";
							console.log("s");
						}else{
							this.ccar.mytoucar="否";
							console.log("s");
						}
					},
					p1(){
						let that=this;
						$.ajax({
							url:"http://127.0.0.1:8080/customer/p",
							type:"post",
							success:function(result){
								that.plate1=result;
							}
						});
					},
					mod9() {
						$("#mymodal45").modal("show");
					},
					ddd(){
						let that=this;
						console.log("dd"+this.ccar);
						$.ajax({
							url:"http://127.0.0.1:8080/customer/ddd",
							type:"post",
							data:that.ccar,
							success:function(result){
								if(result){
									alert("成功");
								}else{
									alert("失败");
								}
							}
						});
					},
					xzz(item){
						this.cs=item;
						if(item.platename=="辽cxzcxz"){
							this.ls=this.lswx;
						}else{
							this.ls=[];
						}
						let that=this;
						var json=JSON.stringify(this.cs);
						
						$.ajax({
							url:"http://127.0.0.1:8080/car/finc",
							type:"post",
							data:json,
							contentType:"application/json;charset=utf-8",
							success:function(result){
								that.customer=result;
							}
						});
					},
					find(){
						let that=this;
						$.ajax({
							url:"http://127.0.0.1:8080/car/find",
							type:"post",
							success:function(result){
								that.car=result;
							}
						})
					},
					khbj() {
						$("#kh").show();
					},
					czl() {
						$("#che").show();
					},
					c() {
						$("#clxx").show();
						$("#lsxf").hide();
						$("#lshf").hide();
					},
					c1() {
						$("#clxx").hide();
						$("#lsxf").show();
						$("#lshf").hide();
					},
					c2() {
						$("#clxx").hide();
						$("#lsxf").hide();
						$("#lshf").show();
					},
					mod() {
						$("#mymodal1").modal("show");
					},
					mod1() {
						$("#mymodal2").modal("show");
					},
					mod2() {
						$("#mymodal3").modal("show");
					},
					mod3() {
						$("#mymodal4").modal("show");
					},
					s() {
						$("#mymodal").modal("show");
					},
					luo() {
						$("#mymodal5").modal("show");
					},
					showmo() {
						$("#mymodal7").modal("show");
					},
					showmo1() {
						$("#mymodal8").modal("show");
					},
					showmo2() {
						$("#mymodal9").modal("show");
					},
					showmo3() {
						$("#mymodal6").modal("show");
					},
					showmo4() {
						$("#mymodal10").modal("show");
					},
					ba() {
						window.location.href = "file.html";
					},
					ba1() {
						$("#mymodal11").modal("show");
					},
					
					ziduan(){
						$("#mymodal12").modal("show");
					},sc(){
						$("#lsxf").show();
					}
				},
				created() {
					this.find();
					this.p1();
					this.op();
					this.ryl();
					this.clgs();
					this.fdj();
					this.syx();
					this.jqx();
					this.sada();
					this.cxzd();
				}
			});
			
				var buttonArr = document.getElementsByClassName("xx");
				var divArr = document.getElementsByClassName("div");
				for(var i = 0; i < buttonArr.length;i++) {
        			buttonArr[i].onclick = function() {
            		//this 
           	 		// alert(this.innerHTML)
          			//for循环遍历button数组长度
            		for(var j = 0; j < buttonArr.length; j++) {
                		//重置所有的button样式
                		buttonArr[j].style.border="0px";
                		//给当前的(点击的那个)那个button添加样式
//              		this.style.border="5px solid #39CEDE";
                		//隐藏所有的div
                		divArr[j].style.display = "none";
                		//判断当前点击是按钮数组中的哪一个？
                		if(this == buttonArr[j]) {
                    	// alert(j);
                     	//显示点击按钮对应的div
                    	divArr[j].style.display = "block";
                		}
            		}
            	
        		}
        		$(document).on('click', '.pintr', function() {
					$(".pintr").css("background", "#ffffff")
				$(this).css("background", "sandybrown")
				})
				$(document).on('click', '.pintr1', function() {
					$(".pintr1").css("background", "#ffffff")
					$(this).css("background", "sandybrown")
				})
			}
			
	</script>
</html>
