<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
		<style type="text/css">
			.row {
				background-color: #F7FFFF;
				height: 55px;
				width: 100%;
			}
			
			.row div:nth-of-type(1) {
				padding-left: 45px;
				padding-top: 15px;
			}
			
			.row div:nth-of-type(2) {
				padding-top: 15px;
			}
			
			.row1 {
				background-color: #F7F7F7;
				height: 695px;
			}
			
			.row1 div:nth-of-type(1) {
				padding-top: 10px;
				padding-right: 20px;
			}
			
			.form-inline {
				padding-left: 60px;
			}
			
			.form-inline .form-group:nth-of-type(2) {
				padding-top: 8px;
			}
			
			.show1 {
				margin-top: 25px;
				width: 95%;
				height: 550px;
				background-color: white;
				margin-left: 60px;
			}
			
			.show1 table tr td {
				text-align: center;
			}
		</style>
	</head>

	<body>
		<div id="ctn">
			<div class="row">
				<div class="col-md-11" style="font-size: 25px;color: #1A2846;">岗位定义</div>
				<div class="col-md-1"><button class="btn">关闭</button></div>
			</div>
			<div class="row1">
				<div style="color: #686868;font-size: 18px;">
					<div class="col-md-8"></div>
					<div class="col-md-1" v-perms="'gang/add'"><img src="img/26d502752909327e0126dd1795f6cba.png" /><span data-target="#myModal1" data-toggle="modal">增加</span></div>
					<div class="col-md-1" v-perms="'gang/delete'"><img src="img/cec08826e6c65a5c150f9ea106feb36.png" /><span data-target="#myModal" data-toggle="modal">删除</span></div>
					<div class="col-md-1" v-perms="'gang/update'"><img src="img/a4efaa29e1e53466ce4e2bfbab02c0a.png" /><span data-target="#myModal2" data-toggle="modal">保存</span></div>
					<div class="col-md-1" @click="daochu()" v-perms="'gang/daochu'"><img src="img/a4efaa29e1e53466ce4e2bfbab02c0a.png" />导出</div>
				</div>
				<form class="form-inline">
					<div class="form-group">
						<label style="color: #39CEDE;">岗位编码</label>
						<input type="text" class="form-control" v-model="post.gid">
					</div>
					<div class="form-group">
						<label style="color: #39CEDE;">岗位名称</label>
						<input type="text" class="form-control" v-model="post.gname">
					</div>
				</form>
				<div class="show1">
					<table class="table table-bordered">
						<tr style="background-color:#39CEDE;">
							<td width="70px"></td>
							<td>岗位编码</td>
							<td>岗位名称</td>
						</tr>
						<tr v-for="p in postlist">
							<td style="background-color: #D6D6CE;"><input type="radio" name="hname" @click="findById(p.gid)"></td>
							<td>{{p.gid}}</td>
							<td>{{p.gname}}</td>
						</tr>
					</table>
				</div>
			</div>
			<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title" id="myModalLabel">删除确认</h4>
						</div>
						<div class="modal-body">
							是否确认删除该记录？
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">否(N)</button>
							<button type="button" class="btn btn-danger" data-toggle="modal" data-dismiss="modal" @click="remove()">是(Y)</button>
						</div>
					</div>
				</div>
			</div>
			<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title" id="myModalLabel">新增确认</h4>
						</div>
						<div class="modal-body">
							是否确认新增该记录？
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">否(N)</button>
							<button type="button" class="btn btn-danger" data-toggle="modal" data-dismiss="modal"  @click="add()">是(Y)</button>
						</div>
					</div>
				</div>
			</div>
			<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title" id="myModalLabel">修改确认</h4>
						</div>
						<div class="modal-body">
							是否确认修改该记录？
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">否(N)</button>
							<button type="button" class="btn btn-danger" data-toggle="modal" data-dismiss="modal"  @click="update()">是(Y)</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="js/jquery-1.12.4.js"></script>
		<script type="text/javascript" src="js/bootstrap.min.js"></script>
		<script type="text/javascript" src="js/vue.js"></script>
		<script type="text/javascript" src="js/vue-perms.js" ></script>
		<script type="text/javascript">
			var user=sessionStorage.getItem("user");
			if(!user){
				window.location.href="new_file.html"; 
			}
			new Vue({
				el: "#ctn",
				data() {
					return {
						postlist: {},
						post: {},
						id: 1
					};
				},
				methods: {
					query() {
						var that = this;
						$.ajax({
							url: "http://127.0.0.1:8080/gangweibiao/find",
							type: "post",
							xhrFields: {
								withCredentials: true
							},
							success: function(result) {
								that.postlist = result;
							}
						});
					},
					add() {
						var that = this;
						$.ajax({
							url: "http://127.0.0.1:8080/gangweibiao/add",
							data: that.post,
							type: "post",
							xhrFields: {
								withCredentials: true
							},
							success: function(result) {
								that.query();
							}
						});
					},
					findById(id) {
						this.id = id;
						var that = this;
						$.ajax({
							url: "http://127.0.0.1:8080/gangweibiao/findById/" + id,
							type: "post",
							xhrFields: {
								withCredentials: true
							},
							success: function(result) {
								that.post = result;
							}
						});
					},
					remove() {
						var that = this;
						that.post.gid="";
						that.post.gname="";
						$.ajax({
							url: "http://127.0.0.1:8080/gangweibiao/delete/" + that.id,
							type: "post",
							xhrFields: {
								withCredentials: true
							},
							success: function(result) {
								that.query();
							}
						});
					},
					update() {
						var that = this;
						$.ajax({
							url: "http://127.0.0.1:8080/gangweibiao/update",
							data: that.post,
							type: "post",
							xhrFields: {
								withCredentials: true
							},
							success: function(result) {
								that.query();
							}
						});
					},
					daochu() {
						window.location.href = "http://127.0.0.1:8080/gangweibiao/downloadExcel";
					}
				},
				created() {
					this.query();
				}
			});
		</script>
	</body>

</html>