<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link href="css/bootstrap.min.css" type="text/css" rel="stylesheet" />
		<link href="css/table.css" type="text/css" rel="stylesheet" />
		<style>
			.caozuo button>span{
				display: inline-block;
				height: 24px;
				width: 20px;
				background-position-x: -10px;
				vertical-align: text-bottom;
				background-image: url(img/image1.png);
			}
			.caozuo button:nth-of-type(2)>span{
				background-position-x: -90px;
			}
			.caozuo button:nth-of-type(3)>span{
				background-position-x: -162px;
			}
			.sroll{
				max-width: 100%;
				max-height: 94%;
			}
		</style>
	</head>
	<body>
		<div class="container-fluid">
			<div class="head">
				<span>技工星级</span>
				<button style="background-color: lightgray;" class="btn btn-default pull-right">关闭</button>
			</div>
			<div class="caozuo">
				<div class="clearfix">
					<div class="pull-right">
						<button v-perms="'technicianLevel/add'" @click="toadd" class="btn btn-default"><span></span>增加</button>
						<button v-perms="'technicianLevel/del'" @click="del" class="btn btn-default"><span></span>删除</button>
						<button v-perms="'technicianLevel/update'" @click="save" class="btn btn-default"><span></span>保存</button>
					</div>
				</div>
				<div class="form-inline">
					<div class="form-group">
						<label for="id" class="control-label">等级编码</label>
						<input id="id" v-model="level.levelid" class="form-control" type="text" />
					</div>
					<div class="form-group">
						<label for="name" class="control-label">等级名称</label>
						<input id="name" v-model="level.levelname" class="form-control" type="text" />
					</div>
					<div class="form-group">
						<label for="tc" class="control-label">提成权重</label>
						<input id="tc" v-model="level.commissionweight" class="form-control" type="text" />
					</div>
				</div>
			</div>
			<div class="body sroll">
				<table class="table table-bordered">
					<thead>
						<tr>
							<td></td>
							<td>等级编码</td>
							<td>等级名称</td>
							<td>提成权重</td>
						</tr>
					</thead>
					<tbody>
						<tr @click="show(i)" :class="{orange:i.orange&&i.orange=='all'}" v-for="i in levels">
							<td @click="addorange(i,'all')"><span class="glyphicon glyphicon-triangle-right" v-show="i.orange"></span></td>
							<td @click="addorange(i,'levelid')" :class="{orange:i.orange&&i.orange=='levelid'}">{{i.levelid}}</td>
							<td @click="addorange(i,'levelname')" :class="{orange:i.orange&&i.orange=='levelname'}">{{i.levelname}}</td>
							<td @click="addorange(i,'commissionweight')" :class="{orange:i.orange&&i.orange=='commissionweight'}">{{i.commissionweight}}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="modal" id="MessageModal">
				<div class="modal-dialog modal-sm">
					<div class="modal-content">
						<div class="modal-header">
							<h5>系统提示</h5>
						</div>
						<div class="modal-body">
							<p>{{mes.context}}</p>
						</div>
						<div class="modal-footer">
							<button v-for="m in mes.btn" class="btn" :class="m.cla" @click="m.fun">{{m.name}}</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="js/jquery-1.12.4.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/vue.js"></script>
		<script src="js/vue-perms.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			new Vue({
				el: ".container-fluid",
				data() {
					return {
						levels: [],
						level: {},
						mes: {
							btn: []
						}
					}
				},
				methods: {
					show(i) {
						this.level = JSON.parse(JSON.stringify(i));
						this.level.relevelid = this.level.levelid;
					},
					toadd() {
						this.level = {};
					},
					addorange(i, col) {
						this.levels.forEach(c => this.$set(c, "orange", false));
						this.$set(i, "orange", col);
					},
					find() {
						let v = this;
						$.ajax({
							url: "http://localhost:8080/technicianLevel/find",
							dataType: "json",
							success(data) {
								v.levels = data;
							}
						})
					},
					save() {
						let v = this;
						$.ajax({
							url: "http://localhost:8080/technicianLevel/save",
							data: v.level,
							type: "post",
							success(data) {
								v.find();
								v.level.relevelid = v.level.levelid;
								if (data == -1) {
									v.message({
										context: "等級编码已存在，不能重复!",
										btn: [{
											cla: "btn-primary",
											name: "确定",
											fun: function() {
												$("#MessageModal").modal("hide");
											}
										}]
									});
								}
							}
						})
					},
					del() {
						this.message({
							context: "确定要删除该记录？",
							btn: [{
								cla: "btn-default",
								name: "取消",
								fun: function() {
									$("#MessageModal").modal("hide");
								}
							},{
								cla: "btn-default",
								name: "确定",
								fun: function() {
									$.ajax({
										url: "http://localhost:8080/technicianLevel/del",
										data: v.level,
										type: "post",
										success(data) {
											v.find();
											v.level = {};
											if(JSON.stringify(data)==false){
												v.message({
													context: "删除失败!",
													btn: [{
														cla: "btn-primary",
														name: "确定",
														fun: function() {
															$("#MessageModal").modal("hide");
														}
													}]
												});
											}
											$("#MessageModal").modal("hide");
										}
									})
								}
							}]
						});
					},
					message(item) {
						this.mes = item;
						$("#MessageModal").modal("show");
					}
				},
				created() {
					this.find();
				}
			})
		</script>
	</body>
</html>
