<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="css/bootstrap.min.css" />
	</head>
	<style type="text/css">
		html,
		body {
			width: 100%;
			height: 100%;
		}

		#ctn {
			width: 99%;
			height: 100%;

		}

		#find {
			width: 100%;
			margin-right: 20px;

		}

		input[type="text"] {
			height: 25px;
			width: 150px;
		}

		#table {}

		tr {
			font-size: 12px;
		}

		#theme {
			height: 88%;
			background: #f7f7f7;
		}

		.til {
			display: inline-block;
			padding-left: 10px;
			height: 25px;
			border-left: 4px solid sandybrown;
		}

		.must {
			display: inline-block;
			width: 5px;
			color: red;
		}

		.va {
			display: inline-block;
			color: #39cede;
			width: 70px;
		}

		.price input[type="text"] {
			width: 80px;
		}


		li {
			list-style: none;
		}

		.ctable td {
			width: 50px;
		}

		.app {
			color: red;
		}

		#mfieldmodal td {
			width: 100px;
		}

		#mfieldmodal .item {
			width: 50px;
		}

		.item {
			width: 50px;
			background: #666;
		}
	</style>
	<body>
		<div id="ctn">
			<div class="row">
				<div class="col-sm-2">
					<h3>&nbsp;&nbsp;&nbsp;商品资料</h3>
				</div>
				<div class="col-sm-5"></div>
				<div class="col-sm-4">
					<br />
					<input type="text" name=""v-model="gooddatatext" placeholder="匹配编码/名称/名称/简码/型号/大类+号双条件查询" id="" value="" style="width: 350px;" />
					<button @click="findgooddataByWhere" class="btn btn-warning btn-xs">搜索</button>
				</div>
				<div class="col-sm-1">
					<br>
					<button class="btn btn-xs">关闭</button>
				</div>
			</div>
			<div id="theme">
				<div id="find">
					<hr />
				</div>

				<div class="row">
					<div class="col-sm-3">
						&nbsp;&nbsp;&nbsp;&nbsp;
						<button class="btn btn-warning btn-xs" @click="addgoods" v-perms="'firm/add'">增加</button>
						<button class="btn btn-warning btn-xs" @click="updategoods" v-perms="'firm/update'">修改</button>
						<button class="btn btn-warning btn-xs" @click="del" v-perms="'firm/remove'">删除</button>
						<button class="btn btn-warning btn-xs" @click="findgoods" v-perms="'firm/find'">查询</button>
					</div>
					<div class="col-sm-9">
						<form style="display: inline-block;" action="http://localhost:8080/gooddata/down" method="post">
							<button class="btn btn-warning btn-xs">导出</button>
						</form>
						<button class="btn btn-warning btn-xs">照片</button>
						<button class="btn btn-warning btn-xs">条码</button>
						<button class="btn btn-warning btn-xs">分类设置</button>
						<button class="btn btn-warning btn-xs" @click="addfield" v-perms="'firm/zdsz'">字段设置</button>

					</div>
				</div>
				<br />
				&nbsp;&nbsp;&nbsp;&nbsp;
				<input type="text" name="" id="" value="" placeholder="匹配	编码/名称" v-model="menutext"/>
				<button @click="findmenuByWhere" class="btn btn-warning btn-xs">搜索</button>
				<br><br />
				<div style="width: 300px;height: 85%;margin-left: 0px; background: #ffffff;">
					<br />
					<div id="table" style="background: #ffffff;">
						<div id="app">
							<tree :menu="menu" @findgooddata="findgooddata"></tree>
						</div>
					</div>
				</div>

				<div style="margin-left: 350px;margin-top: -400px; border: 0px solid #000000;background: #ffffff;height: 90%;overflow: auto;">
					<table id="ctable" class="table table-bordered table-striped table-hover" style="white-space: nowrap">
						<tr style="background: #39cede;">
							<td style="border: 1px solid #666; color: #FFFFFF;padding-left: 25px;"></td>
							<td style="border: 1px solid #666; color: #FFFFFF;">登记门店</td>
							<td style="border: 1px solid #666; color: #FFFFFF;">照片名</td>
							<td style="border: 1px solid #666; color: #FFFFFF;">商品编码</td>
							<td style="border: 1px solid #666; color: #FFFFFF;">商品名称</td>
							<td style="border: 1px solid #666; color: #FFFFFF;">商品品牌</td>
							<td style="border: 1px solid #666; color: #FFFFFF;">适用车型</td>
							<td style="border: 1px solid #666; color: #FFFFFF;">数量单位</td>
							<td style="border: 1px solid #666; color: #FFFFFF;">商品大类</td>
							<td style="border: 1px solid #666; color: #FFFFFF;">收入分类</td>
							<td style="border: 1px solid #666; color: #FFFFFF;">原厂副厂</td>
							<td style="border: 1px solid #666; color: #FFFFFF;">商品等级</td>
							<td style="border: 1px solid #666; color: #FFFFFF;">商品产地</td>
							<td style="border: 1px solid #666; color: #FFFFFF;">厂商名称</td>
							<td style="border: 1px solid #666; color: #FFFFFF;">原厂编码</td>
							<td style="border: 1px solid #666; color: #FFFFFF;">条形码</td>
							<td style="border: 1px solid #666; color: #FFFFFF;">包装规格</td>
							<td style="border: 1px solid #666; color: #FFFFFF;">体积A</td>
							<td style="border: 1px solid #666; color: #FFFFFF;">毛重</td>
							<td style="border: 1px solid #666; color: #FFFFFF;">净重</td>
							<td style="border: 1px solid #666; color: #FFFFFF;">加价率</td>
							<td style="border: 1px solid #666; color: #FFFFFF;">互换码</td>
							<td style="border: 1px solid #666; color: #FFFFFF;">售价按</td>
						</tr>
						<tr @click="select(g)" class="pintr2" v-for="g in gooddata">
							<td class="item"></td>
							<td>总厂</td>
							<td>{{g.photoname}}</td>
							<td>{{g.goodnum}}</td>
							<td>{{g.goodname}}</td>
							<td>{{g.goodbrand.goodbrand}}</td>
							<td>{{g.fitcartype}}</td>
							<td>{{g.numunit.numunit}}</td>
							<td>{{g.goodbigkind.goodbigkindtype}}</td>
							<td>{{g.earning.earningname}}</td>
							<td>{{g.ycfc.ycfc}}</td>
							<td>{{g.goodgrade.goodgrade}}</td>
							<td>{{g.goodaddress.goodaddress}}</td>
							<td>{{g.firm.firmname}}</td>
							<td>{{g.ycnum}}</td>
							<td>{{g.txnum}}</td>
							<td>{{g.packing}}</td>
							<td>{{g.volume}}</td>
							<td>{{g.roughweight}}</td>
							<td>{{g.suttle}}</td>
							<td>{{g.raprate}}</td>
							<td>{{g.exchange}}</td>
							<td>{{g.payto.payto}}</td>
						</tr>
					</table>
				</div>

			</div>




			<!-- 模态框 -->

			<div id="modal">

				<!-- 新增商品 -->
				<div class="modal fade" id="addgoodsmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<h4 class="modal-title" id="myModalLabel">
									<div class="row">
										<div class="col-sm-9">
											<span class="til">商品资料编辑</span>
										</div>
										<div class="col-sm-1">
											<button @click="insert" type="button" class="btn btn-success">保存</button>
										</div>
									</div>


								</h4>
							</div>
							<div class="modal-body">
								<div style="background:#f7f7f7 ;">
									<br />
									<p>
										<span class="must">*</span>
										<span class="va">商品编码</span>
										<input type="text" name="" id="" v-model="addgooddata.goodnum" />
										<span class="must">*</span>
										<span class="va">商品名称</span>
										<input type="text" name="" id="" v-model="addgooddata.goodname"/>
									</p>
									<p>
										<span class="must"></span>
										<span class="va">商品品牌</span>
										<select style="width: 150px;height: 25px;"  v-model="addgooddata.goodbrandid">
											<option :value="g.goodbrandid" v-for="g in goodbrands">{{g.goodbrand}}</option>
										</select>
										<span class="must"></span>
										<span class="va">数量单位</span>
										<select style="width: 150px;height: 25px;" v-model="addgooddata.numunitid">
											<option :value="n.numunitid" v-for="n in numunits">{{n.numunit}}</option>
										</select>
									</p>
									<p>
										<span class="must"></span>
										<span class="va">适用车型</span>
										<input type="text" name="" id="" value=""  v-model="addgooddata.fitcartype"/>
										<span class="must"></span>
										<span class="va">商品大类</span>
										<select type="text" name="" id="" value=""  v-model="addgooddata.goodbigkindid">
											<option :value="g.goodbigkindid" v-for="g in goodbigkinds">{{g.goodbigkindtype}}</option>
										</select>
									</p>
									
									<p>
										<span class="must"></span>
										<span class="va">收入分类</span>
										<select style="width: 150px;height: 25px;" v-model="addgooddata.earningid">
											<option :value="e.earningid" v-for="e in earnings">{{e.earningname}}</option>
										</select>
										<span class="must"></span>
										<span class="va">原厂副厂</span>
										<select style="width: 150px;height: 25px;" v-model="addgooddata.ycfcid">
											<option :value="y.ycfcid" v-for="y in ycfcs">{{y.ycfc}}</option>
										</select>
									</p>
									
									<p>
										<span class="must"></span>
										<span class="va">商品等级</span>
										<select style="width: 150px;height: 25px;" v-model="addgooddata.goodgradeid">
											<option :value="g.goodgradeid" v-for="g in goodgrades">{{g.goodgrade}}</option>
										</select>
										<span class="must"></span>
										<span class="va">商品产地</span>
										<select style="width: 150px;height: 25px;" v-model="addgooddata.goodaddressid">
											<option :value="g.goodaddressid" v-for="g in goodaddresses">{{g.goodaddress}}</option>
										</select>
									</p>
									<p>
										<span class="must"></span>
										<span class="va">厂商名称</span>       
										<select style="width: 388px;" v-model="addgooddata.firmid">
											<option :value="f.firmid" v-for="f in firms">
												{{f.firmname}}
											</option>
										</select>
									</p>
									<p>
										<span class="must"></span>
										<span class="va">原厂编码</span>
										<input type="text" name="" id="" value=""  v-model="addgooddata.ycnum"/>
										<span class="must"></span>
										<span class="va">条形码</span>
										<input type="text" name="" id="" value=""  v-model="addgooddata.txnum"/>
									</p>
									<p>
										<span class="must"></span>
										<span class="va">包装规格</span>
										<input type="text" name="" id="" value="" v-model="addgooddata.packing" />
										<span class="must"></span>
										<span class="va">体积A</span>
										<input type="text" name="" id="" value="" v-model="addgooddata.volume" />
									</p>
									<p>
										<span class="must"></span>
										<span class="va">毛重</span>
										<input type="text" name="" id="" value="" v-model="addgooddata.roughweight" />
										<span class="must"></span>
										<span class="va">净重</span>
										<input type="text" name="" id="" value="" v-model="addgooddata.suttle" />
									</p>
									<p>
										<span class="must"></span>
										<span class="va">售价按</span>
										<select style="width: 150px;height: 25px;" v-model="addgooddata.paytoid">
											<option :value="p.paytoid" v-for="p in paytos">{{p.payto}}</option>
										</select>
									</p>
									<p>
										<span class="must"></span>
										<span class="va">互换码</span>
										<input type="text" name="" id="" value="" style="width: 388px;" v-model="addgooddata.exchange" />
									</p>
									<p>
										<div class="price">
											<span class="must"></span>
											<span class="va">标准价</span>
											<input type="text" name="" id="" value="" v-model="addgooddata.standardprice" />
									
											<span class="va">会员价</span>
											<input type="text" name="" id="" value=""  v-model="addgooddata.memberprice"/>
									
											<span class="va">VIP价</span>
											<input type="text" name="" id="" value="" v-model="addgooddata.vipprice" />
										</div>
									</p>
									<p>
										<div class="price">
											<span class="must"></span>
											<span class="va">协议价</span>
											<input type="text" name="" id="" value=""  v-model="addgooddata.protocol"/>
									
											<span class="va">索赔价</span>
											<input type="text" name="" id="" value=""  v-model="addgooddata.claimprice"/>
									
											<span class="va">保险价</span>
											<input type="text" name="" id="" value=""  v-model="addgooddata.insuranceprice"/>
										</div>
									</p>
									<br />
								</div>
							</div>

						</div>
					</div>
				</div>




				<!-- 修改商品 -->
				<div class="modal fade" id="updategoodsmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<h4 class="modal-title" id="myModalLabel">
									<div class="row">
										<div class="col-sm-9">
											<span class="til">商品资料编辑</span>
										</div>
										<div class="col-sm-1">
											<button @click="update" type="button" class="btn btn-success">保存</button>
										</div>
									</div>


								</h4>
							</div>
							<div class="modal-body">
								<div style="background:#f7f7f7 ;">
									<br />
									<p>
										<span class="must">*</span>
										<span class="va">商品编码</span>
										<input type="text" name="" id="" v-model="selectgooddata.gooddataid" />
										<span class="must">*</span>
										<span class="va">商品名称</span>
										<input type="text" name="" id="" v-model="selectgooddata.goodname"/>
									</p>
									<p>
										<span class="must"></span>
										<span class="va">商品品牌</span>
										<select style="width: 150px;height: 25px;"  v-model="selectgooddata.goodbrandid">
											<option :value="g.goodbrandid" v-for="g in goodbrands">{{g.goodbrand}}</option>
										</select>
										<span class="must"></span>
										<span class="va">数量单位</span>
										<select style="width: 150px;height: 25px;" v-model="selectgooddata.numunitid">
											<option :value="n.numunitid" v-for="n in numunits">{{n.numunit}}</option>
										</select>
									</p>
									<p>
										<span class="must"></span>
										<span class="va">适用车型</span>
										<input type="text" name="" id="" value=""  v-model="selectgooddata.fitcartype"/>
										<span class="must"></span>
										<span class="va">商品大类</span>
										<select type="text" name="" id="" value=""  v-model="selectgooddata.goodbigkindid">
											<option :value="g.goodbigkindid" v-for="g in goodbigkinds">{{g.goodbigkindtype}}</option>
										</select>
									</p>
									
									<p>
										<span class="must"></span>
										<span class="va">收入分类</span>
										<select style="width: 150px;height: 25px;" v-model="selectgooddata.earningid">
											<option :value="e.earningid" v-for="e in earnings">{{e.earningname}}</option>
										</select>
										<span class="must"></span>
										<span class="va">原厂副厂</span>
										<select style="width: 150px;height: 25px;" v-model="selectgooddata.ycfcid">
											<option :value="y.ycfcid" v-for="y in ycfcs">{{y.ycfc}}</option>
										</select>
									</p>
									
									<p>
										<span class="must"></span>
										<span class="va">商品等级</span>
										<select style="width: 150px;height: 25px;" v-model="selectgooddata.goodgradeid">
											<option :value="g.goodgradeid" v-for="g in goodgrades">{{g.goodgrade}}</option>
										</select>
										<span class="must"></span>
										<span class="va">商品产地</span>
										<select style="width: 150px;height: 25px;" v-model="selectgooddata.goodaddressid">
											<option :value="g.goodaddressid" v-for="g in goodaddresses">{{g.goodaddress}}</option>
										</select>
									</p>
									<p>
										<span class="must"></span>
										<span class="va">厂商名称</span>       
										<select style="width: 388px;" v-model="selectgooddata.firmid">
											<option :value="f.firmid" v-for="f in firms">
												{{f.firmname}}
											</option>
										</select>
									</p>
									<p>
										<span class="must"></span>
										<span class="va">原厂编码</span>
										<input type="text" name="" id="" value=""  v-model="selectgooddata.ycnum"/>
										<span class="must"></span>
										<span class="va">条形码</span>
										<input type="text" name="" id="" value=""  v-model="selectgooddata.txnum"/>
									</p>
									<p>
										<span class="must"></span>
										<span class="va">包装规格</span>
										<input type="text" name="" id="" value="" v-model="selectgooddata.packing" />
										<span class="must"></span>
										<span class="va">体积A</span>
										<input type="text" name="" id="" value="" v-model="selectgooddata.volume" />
									</p>
									<p>
										<span class="must"></span>
										<span class="va">毛重</span>
										<input type="text" name="" id="" value="" v-model="selectgooddata.roughweight" />
										<span class="must"></span>
										<span class="va">净重</span>
										<input type="text" name="" id="" value="" v-model="selectgooddata.suttle" />
									</p>
									<p>
										<span class="must"></span>
										<span class="va">售价按</span>
										<select style="width: 150px;height: 25px;" v-model="selectgooddata.paytoid">
											<option :value="p.paytoid" v-for="p in paytos">{{p.payto}}</option>
										</select>
									</p>
									<p>
										<span class="must"></span>
										<span class="va">互换码</span>
										<input type="text" name="" id="" value="" style="width: 388px;" v-model="selectgooddata.exchange" />
									</p>
									<p>
										<div class="price">
											<span class="must"></span>
											<span class="va">标准价</span>
											<input type="text" name="" id="" value="" v-model="selectgooddata.standardprice" />
									
											<span class="va">会员价</span>
											<input type="text" name="" id="" value=""  v-model="selectgooddata.memberprice"/>
									
											<span class="va">VIP价</span>
											<input type="text" name="" id="" value="" v-model="selectgooddata.vipprice" />
										</div>
									</p>
									<p>
										<div class="price">
											<span class="must"></span>
											<span class="va">协议价</span>
											<input type="text" name="" id="" value=""  v-model="selectgooddata.protocol"/>
									
											<span class="va">索赔价</span>
											<input type="text" name="" id="" value=""  v-model="selectgooddata.claimprice"/>
									
											<span class="va">保险价</span>
											<input type="text" name="" id="" value=""  v-model="selectgooddata.insuranceprice"/>
										</div>
									</p>
									<br />
								</div>
							</div>
						</div>
					</div>
				</div>



				<!-- 字段设置 -->
				<div class="modal fade" id="addfieldmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<h4 class="modal-title" id="myModalLabel">
									<div class="row">
										<div class="col-sm-12">
											<span class="til">字段设置</span>
										</div>
									</div>
									<br />


								</h4>
							</div>
							<div class="modal-body">
								<div id="mfieldmodal" style="background:#f7f7f7; height: 500px;">

									<div class="row" style="height: 50px;">

										<div class="col-sm-8">
											<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
											<button type="button" class="btn btn-success">保存</button>
										</div>
										<div class="col-sm-4" style="margin-top: 5px;">
											<br />
											<button class="btn btn-warning btn-xs">全部选择</button>
											<button class="btn btn-warning btn-xs">全部取消</button>
										</div>
									</div>
									<br />
									<table id="ctable" class="table table-bordered table-striped table-hover" style="width: 551px;">
										<tr style="background: #39cede;">
											<td style="border: 1px solid #666; color: #FFFFFF; width: 50px;"></td>
											<td style="border: 1px solid #666; color: #FFFFFF;">显示</td>
											<td style="border: 1px solid #666; color: #FFFFFF;">字段</td>
											<td style="border: 1px solid #666; color: #FFFFFF;">字段名称</td>
											<td style="border: 1px solid #666; color: #FFFFFF;">序号</td>
											<td style="border: 1px solid #666; color: #FFFFFF;">显示宽度</td>
										</tr>

									</table>
									<div style="overflow: auto; width: 100%;height: 70%;margin-top: -20px;">
										<table id="ctable" class="table table-bordered table-striped table-hover" style="width: nowrap">

											<tr class="pintr2">
												<td class="item"></td>
												<td style="text-align: center;"><input type="checkbox" /></td>
												<td>asdasd</td>
												<td>商品编码</td>
												<td>1</td>
												<td>165</td>
											</tr>
											<tr class="pintr2">
												<td class="item"></td>
												<td style="text-align: center;"><input type="checkbox" /></td>
												<td>sdeffds</td>
												<td>商品名称</td>
												<td>2</td>
												<td>155</td>
											</tr>
											<tr class="pintr2">
												<td class="item"></td>
												<td style="text-align: center;"><input type="checkbox" /></td>
												<td>sdeffds</td>
												<td>商品名称</td>
												<td>2</td>
												<td>155</td>
											</tr>
											<tr class="pintr2">
												<td class="item"></td>
												<td style="text-align: center;"><input type="checkbox" /></td>
												<td>sdeffds</td>
												<td>商品名称</td>
												<td>2</td>
												<td>155</td>
											</tr>
											<tr class="pintr2">
												<td class="item"></td>
												<td style="text-align: center;"><input type="checkbox" /></td>
												<td>sdeffds</td>
												<td>商品名称</td>
												<td>2</td>
												<td>155</td>
											</tr>
											<tr class="pintr2">
												<td class="item"></td>
												<td style="text-align: center;"><input type="checkbox" /></td>
												<td>sdeffds</td>
												<td>商品名称</td>
												<td>2</td>
												<td>155</td>
											</tr>
											<tr class="pintr2">
												<td class="item"></td>
												<td style="text-align: center;"><input type="checkbox" /></td>
												<td>sdeffds</td>
												<td>商品名称</td>
												<td>2</td>
												<td>155</td>
											</tr>
											<tr class="pintr2">
												<td class="item"></td>
												<td style="text-align: center;"><input type="checkbox" /></td>
												<td>sdeffds</td>
												<td>商品名称</td>
												<td>2</td>
												<td>155</td>
											</tr>
											<tr class="pintr2">
												<td class="item"></td>
												<td style="text-align: center;"><input type="checkbox" /></td>
												<td>sdeffds</td>
												<td>商品名称</td>
												<td>2</td>
												<td>155</td>
											</tr>
											<tr class="pintr2">
												<td class="item"></td>
												<td style="text-align: center;"><input type="checkbox" /></td>
												<td>sdeffds</td>
												<td>商品名称</td>
												<td>2</td>
												<td>155</td>
											</tr>
											<tr class="pintr2">
												<td class="item"></td>
												<td style="text-align: center;"><input type="checkbox" /></td>
												<td>sdeffds</td>
												<td>商品名称</td>
												<td>2</td>
												<td>155</td>
											</tr>
											<tr class="pintr2">
												<td class="item"></td>
												<td style="text-align: center;"><input type="checkbox" /></td>
												<td>sdeffds</td>
												<td>商品名称</td>
												<td>2</td>
												<td>155</td>
											</tr>
											<tr class="pintr2">
												<td class="item"></td>
												<td style="text-align: center;"><input type="checkbox" /></td>
												<td>sdeffds</td>
												<td>商品名称</td>
												<td>2</td>
												<td>155</td>
											</tr>
											<tr class="pintr2">
												<td class="item"></td>
												<td style="text-align: center;"><input type="checkbox" /></td>
												<td>sdeffds</td>
												<td>商品名称</td>
												<td>2</td>
												<td>155</td>
											</tr>
											<tr class="pintr2">
												<td class="item"></td>
												<td style="text-align: center;"><input type="checkbox" /></td>
												<td>sdeffds</td>
												<td>商品名称</td>
												<td>2</td>
												<td>155</td>
											</tr>
											<tr class="pintr2">
												<td class="item"></td>
												<td style="text-align: center;"><input type="checkbox" /></td>
												<td>sdeffds</td>
												<td>商品名称</td>
												<td>2</td>
												<td>155</td>
											</tr>
											<tr class="pintr2">
												<td class="item"></td>
												<td style="text-align: center;"><input type="checkbox" /></td>
												<td>sdeffds</td>
												<td>商品名称</td>
												<td>2</td>
												<td>155</td>
											</tr>
											<tr class="pintr2">
												<td class="item"></td>
												<td style="text-align: center;"><input type="checkbox" /></td>
												<td>sdeffds</td>
												<td>商品名称</td>
												<td>2</td>
												<td>155</td>
											</tr>
											<tr class="pintr2">
												<td class="item"></td>
												<td style="text-align: center;"><input type="checkbox" /></td>
												<td>sdeffds</td>
												<td>商品名称</td>
												<td>2</td>
												<td>155</td>
											</tr>
											<tr class="pintr2">
												<td class="item"></td>
												<td style="text-align: center;"><input type="checkbox" /></td>
												<td>sdeffds</td>
												<td>商品名称</td>
												<td>2</td>
												<td>155</td>
											</tr>
											<tr class="pintr2">
												<td class="item"></td>
												<td style="text-align: center;"><input type="checkbox" /></td>
												<td>sdeffds</td>
												<td>商品名称</td>
												<td>2</td>
												<td>155</td>
											</tr>
											<tr class="pintr2">
												<td class="item"></td>
												<td style="text-align: center;"><input type="checkbox" /></td>
												<td>sdeffds</td>
												<td>商品名称</td>
												<td>2</td>
												<td>155</td>
											</tr>
											<tr class="pintr2">
												<td class="item"></td>
												<td style="text-align: center;"><input type="checkbox" /></td>
												<td>sdeffds</td>
												<td>商品名称</td>
												<td>2</td>
												<td>155</td>
											</tr>
											<tr class="pintr2">
												<td class="item"></td>
												<td style="text-align: center;"><input type="checkbox" /></td>
												<td>sdeffds</td>
												<td>商品名称</td>
												<td>2</td>
												<td>155</td>
											</tr>
											<tr class="pintr2">
												<td class="item"></td>
												<td style="text-align: center;"><input type="checkbox" /></td>
												<td>sdeffds</td>
												<td>商品名称</td>
												<td>2</td>
												<td>155</td>
											</tr>
											<tr class="pintr2">
												<td class="item"></td>
												<td style="text-align: center;"><input type="checkbox" /></td>
												<td>sdeffds</td>
												<td>商品名称</td>
												<td>2</td>
												<td>155</td>
											</tr>
											<tr class="pintr2">
												<td class="item"></td>
												<td style="text-align: center;"><input type="checkbox" /></td>
												<td>sdeffds</td>
												<td>商品名称</td>
												<td>2</td>
												<td>155</td>
											</tr>
											<tr class="pintr2">
												<td class="item"></td>
												<td style="text-align: center;"><input type="checkbox" /></td>
												<td>sdeffds</td>
												<td>商品名称</td>
												<td>2</td>
												<td>155</td>
											</tr>
											<tr class="pintr2">
												<td class="item"></td>
												<td style="text-align: center;"><input type="checkbox" /></td>
												<td>sdeffds</td>
												<td>商品名称</td>
												<td>2</td>
												<td>155</td>
											</tr>
											<tr class="pintr2">
												<td class="item"></td>
												<td style="text-align: center;"><input type="checkbox" /></td>
												<td>sdeffds</td>
												<td>商品名称</td>
												<td>2</td>
												<td>155</td>
											</tr>
											<tr class="pintr2">
												<td class="item"></td>
												<td style="text-align: center;"><input type="checkbox" /></td>
												<td>sdeffds</td>
												<td>商品名称</td>
												<td>2</td>
												<td>155</td>
											</tr>
											<tr class="pintr2">
												<td class="item"></td>
												<td style="text-align: center;"><input type="checkbox" /></td>
												<td>sdeffds</td>
												<td>商品名称</td>
												<td>2</td>
												<td>155</td>
											</tr>
											<tr class="pintr2">
												<td class="item"></td>
												<td style="text-align: center;"><input type="checkbox" /></td>
												<td>sdeffds</td>
												<td>商品名称</td>
												<td>2</td>
												<td>155</td>
											</tr>
											<tr class="pintr2">
												<td class="item"></td>
												<td style="text-align: center;"><input type="checkbox" /></td>
												<td>sdeffds</td>
												<td>商品名称</td>
												<td>2</td>
												<td>155</td>
											</tr>
										</table>
									</div>

								</div>
							</div>

						</div>
					</div>
				</div>



				<!-- 查询 -->
				<div class="modal fade" id="findgoodsmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<h4 class="modal-title" id="myModalLabel">
									<div class="row">
										<div class="col-sm-9">
											<span class="til">商品查询</span>
										</div>
										<div class="col-sm-1">
											<button @click="findByWhere" type="button" class="btn btn-success">确定</button>
										</div>
									</div>


								</h4>
							</div>
							<div class="modal-body">
								<div style="background:lightyellow ;">
									<br />
									<p>
										<span class="must"></span>
										<span class="va">商品编码</span>
										<input type="text" name="" id="" value=""  v-model="where.goodnum"/>
										<span class="must"></span>
										<span class="va">商品名称</span>
										<input type="text" name="" id="" value=""  v-model="where.goodname"/>
									</p>
									<p>
										<span class="must"></span>
										<span class="va">商品品牌</span>
										<select style="width: 150px;height: 25px;"  v-model="where.goodbrandid">
											<option :value="g.goodbrandid" v-for="g in goodbrands">{{g.goodbrand}}</option>
										</select>
										<span class="must"></span>
										<span class="va">适用车型</span>
										<input type="text" name="" id="" value=""  v-model="where.fitcartype"/>
									</p>
									<p>
										<span class="must"></span>
										<span class="va">商品大类</span>
										<select type="text" name="" id="" value=""  v-model="where.goodbigkindid">
											<option :value="g.goodbigkindid" v-for="g in goodbigkinds">{{g.goodbigkindtype}}</option>
										</select>
										<span class="must"></span>
										<span class="va">收入分类</span>
										<select style="width: 150px;height: 25px;" v-model="where.earningid">
											<option :value="e.earningid" v-for="e in earnings">{{e.earningname}}</option>
										</select>
									</p>

									<p>
										<span class="must"></span>
										<span class="va">原厂副厂</span>
										<select style="width: 150px;height: 25px;" v-model="where.ycfcid">
											<option :value="y.ycfcid" v-for="y in ycfcs">{{y.ycfc}}</option>
										</select>
										<span class="must"></span>
										<span class="va">商品等级</span>
										<select style="width: 150px;height: 25px;" v-model="where.goodgradeid">
											<option :value="g.goodgradeid" v-for="g in goodgrades">{{g.goodgrade}}</option>
										</select>
									</p>

									<p>
										<span class="must"></span>
										<span class="va">商品产地</span>
										<select style="width: 150px;height: 25px;" v-model="where.goodaddressid">
											<option :value="g.goodaddressid" v-for="g in goodaddresses">{{g.goodaddress}}</option>
										</select>
										<span class="must"></span>
										<span class="va">厂商名称</span>
										<select style="width: 388px;" v-model="where.firmid">
											<option :value="f.firmid" v-for="f in firms">
												{{f.firmname}}
											</option>
										</select>
									</p>

									<p>
										<span class="must"></span>
										<span class="va">原厂编码</span>
										<input type="text" name="" id="" value=""  v-model="where.ycnum"/>
										<span class="must"></span>
										<span class="va">条形码</span>
										<input type="text" name="" id="" value=""  v-model="where.txnum"/>
									</p>
									<p>
										<span class="must"></span>
										<span class="va">包装规格</span>
										<input type="text" name="" id="" value="" v-model="where.packing" />
										<span class="must"></span>
										<span class="va">体积A</span>
										<input type="text" name="" id="" value="" v-model="where.volume"/>
									</p>
									<p>
										<span class="must"></span>
										<span class="va">毛重</span>
										<input type="text" name="" id="" value="" v-model="where.roughweight"/>
										<span class="must"></span>
										<span class="va">净重</span>
										<input type="text" name="" id="" value="" v-model="where.suttle"/>
									</p>
									<br />
								</div>
							</div>

						</div>
					</div>
				</div>


			</div>




		</div>

		<script src="js/jquery-1.12.4.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/vue.js"></script>
			<script type="text/javascript" src="js/vue-perms.js" ></script>
		<script>
			Vue.component("tree", {
				template: `
					<ul>
						<li v-for="i in menu">
							<span @click="tog(i)">{{i.menuid}}-{{i.menuname}}</span>
							<tree v-show="i.visible" :menu="i.children" @findgooddata="findgooddata" @tog="tog"></tree>				
						</li>
					</ul>
				`,
				props:{
					menu:{
						type: Array,
						required: false
					}
				},
				methods:{
					tog(item){
						this.$set(item,"visible",!item.visible)
						this.findgooddata(item);
					},
					findgooddata(item){
						this.$emit("findgooddata",item);
					}
				}

			})

			new Vue({
				el: "#ctn",
				data() {
					return {
						menu: [],
						gooddata:[],
						goodbrands:[],
						goodgrades:[],
						goodbigkinds:[],
						goodaddresses:[],
						firms:[],
						earnings:[],
						ycfcs:[],
						goodgrade:[],
						goodgrades:[],
						numunits:[],
						paytos:[],
						selectgooddata:{},
						addgooddata:{},
						where:{},
						menutext:"",
						gooddatatext:""
					}
				},
				methods: {
					addgoods() {
						$("#addgoodsmodal").modal("show");
					},
					updategoods() {
						if(JSON.stringify(this.selectgooddata)=="{}"){
							alert("请选择一条商品记录!");
							return;
						}
						$("#updategoodsmodal").modal("show");
					},
					addfield() {
						$("#addfieldmodal").modal("show");
					},
					findgoods() {
						$("#findgoodsmodal").modal("show");
					},
					select(item){
						this.selectgooddata=JSON.parse(JSON.stringify(item));
					},
					findmenu() {
						let that = this;
						$.ajax({
							url: "http://localhost:8080/menu/find",
							dataType: "json",
							success(data) {
								that.menu = data;
							}
						})
					},
					findgooddata(item){
						var id=[];
						if(item){
							this.dg(item,id);
						}
						let that=this;
						$.ajax({
							url:"http://localhost:8080/gooddata/findById",
							data:{id:id},
							type:"post",
							dataType:"json",
							traditional:true,
							success(data) {
								that.gooddata=data;
							}
						})
					},
					dg(item,id){
						id.push(item.menuid);
						if(item.children){
							for(i of item.children){
								this.dg(i,id);
							}
						}
					},
					findgoodbrand(){
						let that=this;
						$.ajax({
							url:"http://localhost:8080/goodbrand/find",
							dataType:"json",
							success(data) {
								that.goodbrands=data;
							}
						})
					},
					findgoodgrade(){
						let that=this;
						$.ajax({
							url:"http://localhost:8080/goodgrade/find",
							dataType:"json",
							success(data) {
								that.goodgrades=data;
							}
						})
					},
					findgoodbigkind(){
						let that=this;
						$.ajax({
							url:"http://localhost:8080/goodbigkind/find",
							dataType:"json",
							success(data) {
								that.goodbigkinds=data;
							}
						})
					},
					findgoodaddress(){
						let that=this;
						$.ajax({
							url:"http://localhost:8080/goodaddress/find",
							dataType:"json",
							success(data) {
								that.goodaddresses=data;
							}
						})
					},
					findfrim(){
						let that=this;
						$.ajax({
							url:"http://localhost:8080/firm/find",
							dataType:"json",
							success(data) {
								that.firms=data;
							}
						})
					},
					findearning(){
						let that=this;
						$.ajax({
							url:"http://localhost:8080/earning/find",
							dataType:"json",
							success(data) {
								that.earnings=data;
							}
						})
					},
					findycfc(){
						let that=this;
						$.ajax({
							url:"http://localhost:8080/ycfc/find",
							dataType:"json",
							success(data) {
								that.ycfcs=data;
							}
						})
					},
					findgoodgrade(){
						let that=this;
						$.ajax({
							url:"http://localhost:8080/goodgrade/find",
							dataType:"json",
							success(data) {
								that.goodgrades=data;
							}
						})
					},
					findnumunit(){
						let that=this;
						$.ajax({
							url:"http://localhost:8080/numunit/find",
							dataType:"json",
							success(data) {
								that.numunits=data;
							}
						})
					},
					findpayto(){
						let that=this;
						$.ajax({
							url:"http://localhost:8080/payto/find",
							dataType:"json",
							success(data) {
								that.paytos=data;
							}
						})
					},
					insert(){
						let that=this;
						$.ajax({
							url:"http://localhost:8080/gooddata/insert",
							data:that.addgooddata,
							type:"post",
							success(data) {
								that.findgooddata();
							}
						})
					},
					update(){
						let that=this;
						delete that.selectgooddata.earning;
						delete that.selectgooddata.goodbigkind;
						delete that.selectgooddata.ycfc;
						delete that.selectgooddata.goodgrade;
						delete that.selectgooddata.goodaddress;
						delete that.selectgooddata.goodbrand;
						delete that.selectgooddata.firm;
						delete that.selectgooddata.numunit;
						delete that.selectgooddata.payto;
						$.ajax({
							url:"http://localhost:8080/gooddata/update",
							data:that.selectgooddata,
							type:"post",
							success(data) {
								that.findgooddata();
							}
						})
					},
					del(){
						let that=this;
						$.ajax({
							url:"http://localhost:8080/gooddata/del",
							data:{id:that.selectgooddata.gooddataid},
							type:"post",
							success(data) {
								that.findgooddata();
							}
						})
					},
					findByWhere(){
						let that=this;
						$.ajax({
							url:"http://localhost:8080/gooddata/findByWhere",
							data:that.where,
							dataType:"json",
							type:"post",
							success(data) {
								that.gooddata=data;
							}
						})
					},
					findmenuByWhere(){
						let that = this;
						$.ajax({
							url: "http://localhost:8080/menu/findByText",
							data:{where:that.menutext},
							type:"post",
							dataType: "json",
							success(data) {
								that.menu = data;
							}
						})
					},
					findgooddataByWhere(){
						let that = this;
						$.ajax({
							url: "http://localhost:8080/gooddata/findByText",
							data:{where:that.gooddatatext},
							type:"post",
							dataType: "json",
							success(data) {
								that.gooddata = data;
							}
						})
					}
				},
				created() {
					this.findmenu();
					this.findearning();
					this.findfrim();
					this.findgoodaddress();
					this.findgoodbigkind();
					this.findgoodbrand();
					this.findgoodgrade();
					this.findgooddata();
					this.findnumunit();
					this.findpayto();
					this.findycfc();
				}
			});
			$(".pintr").click(function() {
				$(".pintr").css("background", "#ffffff")
				$(this).css("background", "sandybrown")
			});
			$(".pintr2").click(function() {
				$(".pintr2").css("background", "#ffffff")
				$(this).css("background", "sandybrown")
			});


			$(".file1").mouseover(function() {
				$(this).css("background", "#e7e7e7")
			}).mouseout(function() {
				$(this).css("background", "")
			})

			$("#d1_body span").click(function() {
				$("#d1_body span").css("color", "")
				$("#d1_body span").css("background", "")
				$(this).css("background", "#666")
				$(this).css("color", "#ffffff")
			})

			$(document).ready(function() {
				$(".ul1 span").click(function() {
					$(".ul1 span").css("color", "#000000")
					$(".ul1 span").css("background", "")
					$(this).css("background", "#666")
					$(this).css("color", "#ffffff")
				});
			});
		</script>
	</body>
</html>
