<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
	</body>
</html>
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="css/bootstrap.min.css" />
	</head>
	<style type="text/css">
		html,
		body {
			width: 99%;
			height: 100%;
		}

		#ctn {
			width: 99%;
			height: 100%;

		}

		#find {
			width: 100%;
			margin-right: 20px;

		}

		input[type="text"] {
			height: 25px;
			width: 150px;
		}

		#table {
			width: 200px;
		}

		tr {
			font-size: 12px;
		}

		#theme {
			height: 88%;
			background: #f7f7f7;
		}

		.til {
			display: inline-block;
			padding-left: 10px;
			height: 25px;
			border-left: 4px solid sandybrown;
		}

		.must {
			display: inline-block;
			width: 5px;
			color: red;
		}

		.va {
			display: inline-block;
			color: #39cede;
			width: 70px;
		}

		.price input[type="text"] {
			width: 80px;
		}

		.item {
			width: 40px;
			background: #666;
		}

		.item td {
			border: 1px solid #666;
		}

		li {
			list-style: none;
		}
		
		.aaaaa{
			float: right;
			margin-right: 50px;
		}
		.div_01{
			margin-top:-10px;
		}
		.div-02{
			margin-top:-390px;
		}
	</style>
	<body>
		<div id="ctn">
			<div class="row">
				<div class="col-sm-2">
					<h3>&nbsp;&nbsp;&nbsp;维修项目</h3>
				</div>
				<div class="col-sm-6"></div>
				<div class="col-sm-3">
					<br />
					<input type="text" name="" placeholder="匹配编码/名称/名称简码" id="" value="" v-model="chaxun" />
					<button class="btn btn-warning btn-xs" @click="wxfind(car[0])">搜索</button>
				</div>
				<div class="col-sm-1">
					<br>
					<button class="btn btn-xs">关闭</button>
				</div>
			</div>
			<div id="theme">
				<div id="find">
					<hr />
				</div>

				<div class="row">
					<!-- <div class="col-sm-8">
						&nbsp;&nbsp;&nbsp;&nbsp;
						<button class="btn btn-warning btn-xs" @click="addson">增加分类</button>
						<button class="btn btn-warning btn-xs" @click="updatesame">修改分类</button>
						<button class="btn btn-warning btn-xs">删除</button>
					</div> --> 
					<div class="aaaaa">
						<button class="btn btn-warning btn-xs" @click="wxxmaddservice">增加</button>
						<button class="btn btn-warning btn-xs" @click="wxxmupdateservice">修改</button>
						<button class="btn btn-warning btn-xs" @click="wxxmwxremove">删除</button>
						<button class="btn btn-warning btn-xs" @click="wxxmpricechange">调价</button>
						<button class="btn btn-warning btn-xs" @click="wxxmdownloadEcxel">导出</button>
					</div>
				</div>
				<br />

				<div style="margin-top:-0px;width: 200px;height: 85%;margin-left: 0px; background: #ffffff;" class="div_01">
					<br />
					<div id="table" style="background: #ffffff;">
						<div id="d1">
							<div id="d1_body">
								<ul>
									<li>
										<img onclick="doAction2(1);" src="img/小房子.PNG" style="vertical-align: middle;" width="12%">
										<span onclick="doAction(1);"><span><a href="javascript:void(0)">车型</a></span></span>
									</li>
									<ul style="display:none;" id="u1">
										<li v-for="item in list2">
											<a href="#">
												<img src="img/小房子2.PNG" style="vertical-align: middle;" width="15%">
												<span @click="wxfind(item)">{{item.pname}}</span>
											</a>
										</li>
									</ul>
									<li>
										<img onclick="doAction2(2);" src="img/小房子.PNG" style="vertical-align: middle;" width="12%">
										<span onclick="doAction(2);"><span><a href="javascript:void(0)">发动机</a></span></span>
									</li>
									<ul style="display:none;" id="u2">
										<li v-for="item in list">
											<a href="#">
												<img src="img/小房子2.PNG" style="vertical-align: middle;" width="15%">
												<span @click="wxfind(item)">{{item.fname}}</span>
											</a>
										</li>
									</ul>
									
									<li>
										<img onclick="doAction2(3);" src="img/小房子.PNG" style="vertical-align: middle;" width="12%">
										<span onclick="doAction(3);"><span><a href="javascript:void(0)">喷板</a></span></span>
									</li>
									<ul style="display:none;" id="u3">
										<li v-for="item in list3">
											<a href="#">
												<img src="img/小房子2.PNG" style="vertical-align: middle;" width="15%">
												<span @click="wxfind(item)">{{item.name}}</span>
											</a>
										</li>
									</ul>
									
								</ul>
							</div>
						</div>
					</div>
				</div>

				<div class="div-02" style="margin-top: -530px; margin-left: 250px; border: 0px solid #000000;background: #ffffff;height: 85%;">
					<table class="table table-bordered table-striped table-hover">
						<tr style="background: #39cede;">
							<td style="border: 1px solid #666; color: #FFFFFF;"></td>
							<td style="border: 1px solid #666; color: #FFFFFF;">项目类别</td>
							<td style="border: 1px solid #666; color: #FFFFFF;">项目编码</td>
							<td style="border: 1px solid #666; color: #FFFFFF;">项目名称</td>
							<td style="border: 1px solid #666; color: #FFFFFF;">售价按</td>
							<td style="border: 1px solid #666; color: #FFFFFF;">收入种类</td>
							<td style="border: 1px solid #666; color: #FFFFFF;">标准价</td>
							<td style="border: 1px solid #666; color: #FFFFFF;">会员价</td>
							<td style="border: 1px solid #666; color: #FFFFFF;">VIP价</td>
							<td style="border: 1px solid #666; color: #FFFFFF;">协议价</td>
							<td style="border: 1px solid #666; color: #FFFFFF;">索赔价</td>
							<td style="border: 1px solid #666; color: #FFFFFF;">保险价</td>
							<td style="border: 1px solid #666; color: #FFFFFF;">备注</td>
						</tr>
						<tr class="pintr2" v-for="item in car">
							<td class="item"></td>
							<td class="pintr1" @click="wxfindByid(item)">{{item.xiangmuleibie}}</td>
							<td class="pintr1" @click="wxfindByid(item)">{{item.wid}}</td>
							<td class="pintr1" @click="wxfindByid(item)">{{item.wname}}</td>
							<td class="pintr1" @click="wxfindByid(item)">{{item.sj}}</td>
							<td class="pintr1" @click="wxfindByid(item)">{{item.shourujizhong}}</td>
							<td class="pintr1" @click="wxfindByid(item)">{{item.bzj}}</td>
							<td class="pintr1" @click="wxfindByid(item)">{{item.hyj}}</td>
							<td class="pintr1" @click="wxfindByid(item)">{{item.vipj}}</td>
							<td class="pintr1" @click="wxfindByid(item)">{{item.xyj}}</td>
							<td class="pintr1" @click="wxfindByid(item)">{{item.spj}}</td>
							<td class="pintr1" @click="wxfindByid(item)">{{item.pxj}}</td>
							<td class="pintr1" @click="wxfindByid(item)">{{item.beizhu}}</td>
						</tr>
					</table>
				</div>

			</div>




			<!-- 模态框 -->

			<div id="modal">

				<!-- 新增服务项目 -->
				<div class="modal fade" id="addservicemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<h4 class="modal-title" id="myModalLabel">
									<div class="row">
										<div class="col-sm-9">
											<span class="til">服务项目定义</span>
										</div>
										<div class="col-sm-1">
											<button type="button" class="btn btn-success" @click="weixiuinsert">保存</button>
										</div>
									</div>


								</h4>
							</div>
							<div class="modal-body">
								<div style="background:#f7f7f7 ;">
									<br />
									<p>
										<span class="must">*</span>
										<span class="va">项目编码</span>
										<input type="text" name="" id="" value="" / v-model="wxadd.wid">
										<span class="must">*</span>
										<span class="va">项目名称</span>
										<input type="text" name="" id="" value="" v-model="wxadd.wname"/>
									</p>
									<p>
										<span class="must">*</span>
										<span class="va">收入种类</span>
										<select style="width: 150px;height: 25px;" v-model="wxadd.shourujizhong">
											<option v-for="item in shouru">{{item.earningname}}</option>
										</select>
										<span class="must">*</span>
										<span class="va">项目类别</span>
										<select style="width: 150px;height: 25px;" v-if="panduan1" v-model="wxadd.xiangmuleibie">
											<option v-for="item in chexin">{{item.fname}}</option>
										</select>
										<select style="width: 150px;height: 25px;" v-if="panduan" v-model="wxadd.xiangmuleibie">
											<option v-for="item in chexin">{{item.pname}}</option>
										</select>
										<select style="width: 150px;height: 25px;" v-if="panduan2" v-model="wxadd.xiangmuleibie">
											<option v-for="item in chexin">{{item.name}}</option>
										</select>
									</p>
									<p>
										<span class="must"></span>
										<span class="va">备注</span>
										<input type="text" name="" id="" value="" style="width: 388px;" v-model="wxadd.beizhu"/>
									</p>
									<p>
										<div class="price">
											<span class="must"></span>
											<span class="va">标准价</span>
											<input type="text" name="" id="" value=""  @keyup="a()" v-model="wxadd.bzj" />

											<span class="va">会员价</span>
											<input type="text" name="" id="" @keyup="a()"  v-model="wxadd.hyj"/>

											<span class="va">VIP价</span>
											<input type="text" name="" id="" @keyup="a()" v-model="wxadd.vipj"/>
										</div>
									</p>
									<p>
										<div class="price">
											<span class="must"></span>
											<span class="va">协议价</span>
											<input type="text" name="" id="" @keyup="a()" v-model="wxadd.xyj"/>

											<span class="va">索赔价</span>
											<input type="text" name="" id="" @keyup="a()" v-model="wxadd.spj"/>

											<span class="va">保险价</span>
											<input type="text" name="" id="" @keyup="a()" v-model="wxadd.pxj"/>
										</div>
									</p>
									<br />
								</div>
							</div>

						</div>
					</div>
				</div>




				<!-- 修改服务项目 -->
				<div class="modal fade" id="updateservicemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<h4 class="modal-title" id="myModalLabel">
									<div class="row">
										<div class="col-sm-9">
											<span class="til">服务项目定义</span>
										</div>
										<div class="col-sm-1">
											<button type="button" class="btn btn-success" @click="weixiuupdate">保存</button>
										</div>
									</div>


								</h4>
							</div>
							<div class="modal-body">
								<div style="background:#f7f7f7 ;">
									<br />
									<p>
										<span class="must">*</span>
										<span class="va">项目编码</span>
										<input type="text" name="" id="" value="1003" v-model="wxupdate.wid"/>
										<span class="must">*</span>
										<span class="va">项目名称</span>
										<input type="text" name="" id="" value="车型" v-model="wxupdate.wname"/>
									</p>
									<p>
										<span class="must">*</span>
										<span class="va">收入种类</span>
										<select style="width: 150px;height: 25px;" v-model="wxupdate.shourujizhong">
											<option v-for="item in shouru">{{item.earningname}}</option>
										</select>
										<span class="must">*</span>
										<span class="va">项目类别</span>
										<select style="width: 150px;height: 25px;" v-if="panduan1" v-model="wxupdate.xiangmuleibie">
											<option v-for="item in chexin">{{item.fname}}</option>
										</select>
										<select style="width: 150px;height: 25px;" v-if="panduan" v-model="wxupdate.xiangmuleibie">
											<option v-for="item in chexin">{{item.pname}}</option>
										</select>
										<select style="width: 150px;height: 25px;" v-if="panduan2" v-model="wxupdate.xiangmuleibie">
											<option v-for="item in chexin">{{item.name}}</option>
										</select>
									</p>
									<p>
										<span class="must"></span>
										<span class="va">备注</span>
										<input type="text" name="" id="" value="没有备注" style="width: 388px;" v-model="wxupdate.beizhu" />
									</p>
									<p>
										<div class="price">
											<span class="must"></span>
											<span class="va">标准价</span>
											<input type="text" name="" id="" value="66666" @keyup="b()" v-model="wxupdate.bzj"/>

											<span class="va">会员价</span>
											<input type="text" name="" id="" value="55555" v-model="wxupdate.hyj"/>

											<span class="va">VIP价</span>
											<input type="text" name="" id="" value="44444" v-model="wxupdate.vipj"/>
										</div>
									</p>
									<p>
										<div class="price">
											<span class="must"></span>
											<span class="va">协议价</span>
											<input type="text" name="" id="" value="33333" v-model="wxupdate.xyj"/>

											<span class="va">索赔价</span>
											<input type="text" name="" id="" value="22222" v-model="wxupdate.spj"/>

											<span class="va">保险价</span>
											<input type="text" name="" id="" value="11111" v-model="wxupdate.pxj"/>
										</div>
									</p>
									<br />
								</div>
							</div>

						</div>
					</div>
				</div>




				<!-- 添加子类 -->
				<div class="modal fade" id="addsonmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<h4 class="modal-title" id="myModalLabel">
									<div class="row">
										<div class="col-sm-9">
											<span class="til">添加分类</span>
										</div>
										<div class="col-sm-1">
											<button type="button" class="btn btn-success">保存</button>
										</div>
									</div>


								</h4>
							</div>
							<div class="modal-body">
								<div style="background:#f7f7f7;text-align: center;">
									<br />
									<p>
										<span class="must"></span>
										<span class="va">类别编码</span>
										<select style="width: 150px;height: 25px;">
											<option>中国重汽</option>
										</select>
									</p>
									<p>
										<span class="must"></span>
										<span class="va">类别名称</span>
										<input type="text" name="" id="" value="" />
									</p>
									<br />
								</div>
							</div>
							<div class="modal-footer">

							</div>
						</div>
					</div>
				</div>


				<!-- 修改子类 -->
				<div class="modal fade" id="updatesamemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<h4 class="modal-title" id="myModalLabel">
									<div class="row">
										<div class="col-sm-9">
											<span class="til">修改分类</span>
										</div>
										<div class="col-sm-1">
											<button type="button" class="btn btn-success">保存</button>
										</div>
									</div>


								</h4>
							</div>
							<div class="modal-body">
								<div style="background:#f7f7f7;text-align: center;">
									<br />
									<p>
										<span class="must"></span>
										<span class="va">类别编码</span>
										<input type="text" name="" id="" value="113" />
									</p>
									<p>
										<span class="must"></span>
										<span class="va">类别名称</span>
										<input type="text" name="" id="" value="中国重汽" />
									</p>
									<br />
								</div>
							</div>
							<div class="modal-footer">

							</div>
						</div>
					</div>
				</div>


				<!-- 调价 -->
				<div class="modal fade" id="pricechangemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<h4 class="modal-title" id="myModalLabel">
									<div class="row">
										<div class="col-sm-9">
											<span class="til">调价</span>
										</div>
										<div class="col-sm-1">
											<button @click="save" type="button" class="btn btn-success">保存</button>
										</div>
									</div>


								</h4>
							</div>
							<div class="modal-body">
								<div style="background:#f7f7f7;">
									<br />
									<p>
										<p>
											<span class="must"></span>
											<span class="va"></span>
											<select style="width: 150px;height: 25px;" v-model="jg">
												<option  value="bzj">标准价</option>
												<option value="hyj">会员价</option>
												<option value="vipj">VIP价</option>
												<option  value="xyj">协议价</option>
												<option value="spj">索赔价</option>
												<option value="pxj">保险价</option>	
											</select>
											<span class="must"></span>
											<span class="va">= 标准价 *</span>
											<input type="text" name="" id="" value="" v-model="jgsr"/>
										</p>
									</p>
									<br />
								</div>
							</div>
							<div class="modal-footer">

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script src="js/jquery-1.12.4.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/vue.js"></script>
		<script>
			var user=sessionStorage.getItem("user");
			if(!user){
				window.location.href="new_file.html"; 
			}
			var BaseUrl = "http://127.0.0.1:8080";
			// 	 function doAction(index){
			// 	    var obj = document.getElementById('u' + index);
			// 	    if(obj.style.display == 'none'){
			// 	            obj.style.display = 'block';
			// 	    }else{
			// 	            obj.style.display = 'none';
			// 	    }
			// 	}

			function doAction(index) {
				var obj = document.getElementById('u' + index);
				if (obj.style.display == 'none') {
					obj.style.display = 'block';
				}
			}

			function doAction2(index) {
				var obj = document.getElementById('u' + index);
				if (obj.style.display == 'none') {
					obj.style.display = 'block';
				} else {
					obj.style.display = 'none';
				}
			}
				function doAction3(index) {
				var obj = document.getElementById('u' + index);
				if (obj.style.display == 'none') {
					obj.style.display = 'block';
				} else {
					obj.style.display = 'none';
				}
			}

			function test() {
				var obj = document.getElementById('d1');
				alert(obj.innerHTML);
			}


			new Vue({
				el: "#ctn",
				data() {
					return {
						list: [],
						list2: [],
						list3:[],
						car: [],
						chaxun: "",
						xiala:[],
						chexin:[],
						panduan:false,
						panduan1:true,
						panduan2:false,
						wxadd:{},
						shouru:[],
						sjan:"",
						wxupdate:{},
						jg:"",
						jiege:{},
						jgsr:"",
						ppminc:""
					}
				},
				methods: {
					wxxmdownloadEcxel(){
						alert(this.chaxun);
						window.location.href="http://127.0.0.1:8080/weixiubiao/downloadEcxel/"+this.chaxun
					},
					wxxmwxremove(){
							let that=this;
							$.ajax({
								url:BaseUrl+"/weixiubiao/wxremove/"+that.wxupdate.wid,
								type:"post",
								success:function(result){
									that.find()
								}
							})
					},
					weixiuupdate(){
						let that=this;
						$.ajax({
							url:BaseUrl+"/weixiubiao/weixiuupdate",
							data:JSON.stringify(that.wxupdate),
							dataType:"json",
							type:"post",
							xhrFields: {
								withCredentials: true
							},
							contentType:"application/json;charset=utf-8",
							success:function(result){
								console.log("修改进入")
								that.find();
							}
						})
					},
					wxfindByid(item){
						let that = this;
						console.log("132132123")
						$.ajax({
							url: BaseUrl + "/weixiubiao/wxfindByid/" + item.wid,
							type:"get",
							success: function(result) {
								that.wxupdate = result;
							}
						})
					},
					weixiuinsert() {
						let that = this;
						that.wxadd.sj=that.sjan;
						$.ajax({
							url: BaseUrl + "/weixiubiao/weixiuadd",
							data: that.wxadd,
							dataType: "json",
							type: "post",
							success: function(result) {
								that.find();
							}
						})
					},
					wxfind(item) {
						let that = this;
						if (item) {
							var js1 = item.pname;
							var js2 = item.fname;
							var bbb= item.name;
							
						}
						var js3 = 0;
						if (js1 != null) {
							js3 = js1;
							that.chexin= that.list2
							that.ppminc=item.pname
							console.log(js1+"uuuuuu")
							that.panduan1=false;
							that.panduan=true;
							that.panduan2=false;
							that.sjan="车型";
						}
						if (js2 != null) {
							js3 = js2;
							that.chexin= that.list
							that.ppminc=js2
							that.panduan1=true;
							that.panduan=false;
							that.panduan2=false;
							that.sjan="发动机";
						}
						if (bbb != null) {
							js3 = bbb;
							that.chexin= that.list3
							that.ppminc=bbb
							that.panduan2=true;
							that.panduan1=false;
							that.panduan=false;
							that.sjan="喷板";
						}
						console.log(that.ppminc+"qwe")
						$.ajax({
							url: BaseUrl + "/weixiubiao/weixiufind/" + js3,
							type: "get",
							data: {
								chaxun: that.chaxun,
								ppname:that.ppminc
							},
							dataType: "json",
							success: function(result) {
								console.log(result);
								that.car = result
							}
						});
					},
					find() {
						let that = this;
						$.ajax({
							url: BaseUrl + "/weixiubiao/findall",
							success: function(result) {
								that.list = result.flist;
								that.list2 = result.plist;
								that.list3 = result.blist;
								console.log(that.list3)
								that.wxfind(that.list[0])
							}
						})
					},
					shou(){
						let that = this;
						$.ajax({
							url: BaseUrl+"/weixiubiao/shou",
							success: function(result) {
								that.shouru=result;
							}
						})
					},
					wxxmaddservice() {
						$("#addservicemodal").modal("show");
					},
					wxxmupdateservice() {
						$("#updateservicemodal").modal("show");
					},
					addson() {
						$("#addsonmodal").modal("show");
					},
					updatesame() {
						$("#updatesamemodal").modal("show");
					},
					wxxmpricechange() {
						$("#pricechangemodal").modal("show");
					},
					a(){
						this.$set(this.wxadd,"hyj",this.wxadd.bzj*0.95);
						this.$set(this.wxadd,"vipj",this.wxadd.bzj*0.9);
						this.$set(this.wxadd,"xyj",this.wxadd.bzj*1.2);
						this.$set(this.wxadd,"spj",this.wxadd.bzj*1.3);
						this.$set(this.wxadd,"pxj",this.wxadd.bzj*1.4);
					},
					b(){
							this.$set(this.wxupdate,"hyj",this.wxupdate	.bzj*0.95);
							this.$set(this.wxupdate,"vipj",this.wxupdate.bzj*0.9);
							this.$set(this.wxupdate,"xyj",this.wxupdate.bzj*1.2);
							this.$set(this.wxupdate,"spj",this.wxupdate.bzj*1.3);
							this.$set(this.wxupdate,"pxj",this.wxupdate.bzj*1.4);
					},
					save(){
						let that=this;
						this.jiege=JSON.parse(JSON.stringify(this.wxupdate));
						this.jiege[this.jg]=this.jgsr*this.jiege.bzj;
						$.ajax({
							url:BaseUrl+"/weixiubiao/jgxg",
							data:that.jiege,
							type:"post",
							success(data){
								that.find();
								$("#pricechangemodal").modal("hide");
							}
						})
					}

				},
				created() {
					this.find();
					this.shou();
				}
			});
			$(".pintr").click(function() {
				$(".pintr").css("background", "#ffffff")
				$(this).css("background", "sandybrown")
			});
			$(".pintr2").click(function() {
				$(".pintr2").css("background", "#ffffff")
				$(this).css("background", "sandybrown")
			});


			$(".file1").mouseover(function() {
				$(this).css("background", "#e7e7e7")
			}).mouseout(function() {
				$(this).css("background", "")
			})

			$("#d1_body span").click(function() {
				$("#d1_body span").css("color", "")
				$("#d1_body span").css("background", "")
				$(this).css("background", "#666")
				$(this).css("color", "#ffffff")
			})
			$(document).on('click', '.pintr1', function() {
				$(".pintr1").css("background", "#ffffff")
				$(this).css("background", "sandybrown")
			})
		</script>
	</body>
</html>
