<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css"/>
		<link rel="stylesheet" href="../css/iconfont.css">
		<style>
			.container{
				width: 100%;
				height: 100%;
			}
			.header{
				height: 60px;
			}
			.header button:nth-of-type(2){
				background-color: #D4D4D4;
			}
			.body{
				height: 600px;
			}
			#img {
				color: orange;
			}
			form span{
				color: #39CFDE;
			}
			select{
				width: 110px;height: 32px;
			}
			.inputcph{
				width: 110px;height: 32px;
			}
			.inputbz{
				width: 110px;height: 32px;
			}
			form input:nth-of-type(3){
				width: 157px;height: 32px;
			}
			.divy{
				float: right;
				margin-top: 5px;
			}
			.divz{
				float: left;
				margin-top: 5px;
			}
			.kd div span{
				font-size: 16px;
			}
			.table-ss{
				width: 100%;
				overflow:auto;
			}
			#table{
				width: 150%;
			}
			.ss-gz td{
				width: 300px;
				height: 38px;
				padding-left: 10px;
				background-color: #39CFDE;
				color: white;
			}
			#table tr:nth-of-type(2) td{

			}
			#table{
			    border-collapse: collapse;
			}
			hr{
				background-color:#39CFDE;
				border: none;
				height: 1px;
			}
			.table-ss,.table-ss tr,.table-ss tr td { border:1px solid #ddd; }
			#myModal{
				margin-top: 40px;
			}
			#myModal .modal-body{
				height: 300px;
			}
			.op{
				position: absolute;
				top: 15px;
				left: 300px;
			}
			.control{
				background-color: #eee;
				border-radius: 4px;
				border: 1px solid #ccc;
			}
			.controldd{
				border: 1px solid #ccc;
			}
			#myModalfwgw .modal-body{
				height: 400px;
			}
			.ss-gz2 td{
				width: 150px;
				height: 38px;
				padding-left: 10px;
				background-color: #39CFDE;
				color: white;
			}
			.ta tr:nth-of-type(2) td{
				height: 186px;
			}
			#table tr{
				height: 40px;
			}
			
			#top1{ background-color: rgb(249,249,249);}
			#top1 h3{display: inline-block;margin: 10px 1000px 10px 30px; vertical-align: middle;}
			#top1 input{display: inline-block;width: 230px; }
			#search{width: 90px;color: white;background-color: #5CB85C; margin-right: 10px;}
			#close{color: white;background-color: #999999;}
			#btns a{ text-decoration: none; color: black; font-size: 16px;}
			#btns span{color: orange;  margin-top: 5px; margin-left: 10px;}
			#info hr{height: 2px;width: 98%;}
			#info table{ margin-left: 30px; width: 1000px;}
			#info table tr{font-size: 16px; font-weight: 600; color: #31B0D5; line-height: 40px;}
			#info table tr input{width: 150px;}
			#no{margin-top: 10px; margin-left: 15px;}
			#menu{ width: 98%; margin: auto; color: #999999; background-color: rgb(249,249,249);  margin-top: 10px;}
			/*覆盖bootstrap原页签效果*/
			.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {color: #31B0D5;cursor: default;background-color: rgba(0,0,0,0); border:none; border-top: solid 3px #31B0D5;} 
			.nav-tabs>li>a {margin-right: 2px;line-height: 1.42857143;border: 1px solid transparent;border-radius: 0;}
			/*覆盖完毕*/
			#tabs{width: 98%; margin: auto;}
			#tabs thead td{color: white; background-color: #31B0D5;}
			.orange {
			    background-color: #ffc514;
			}
			ul {
				list-style-type: none;
				margin-top: 13px;
				margin-right: 40px;
			}
			
			li {
				display: inline-block;
				margin-left: 20px;
			}
			table {
			    border-spacing: 0;
			    border-collapse: collapse;
			}
			input{
				border-radius: 4px 4px 4px 4px;
				-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
				border: 1px solid #ccc;
				height: 32px;
			}
			#table tr:nth-of-type(5){
			    height: 100px;
			}
		</style>
	</head>
	<body>
		<div class="container-fluid">
			<form action="" method="POST" class="form-inline" role="form">
			<div class="header">
				<h3>结算中心</h3>
				<div style="float: right; margin-top: -30px;">
					<button @click="selectSettleAccounts" type="button" class="btn btn-default" style="width: 80px;" v-perms="'settlementCenter/query'">
						<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
					查询</button>
					<button type="button" class="btn btn-default">关闭</button>
				</div>
				
			</div>
			<div class="body">
				<hr />
				<div>
						<span>开单日期：</span><input name="startDate" type="datetime" v-model="XiaoShouDanJu.startkd" /><input name="nowDate" type="datetime" v-model="XiaoShouDanJu.endkd" />
						<span>销售单号：</span><input type="text" v-model="XiaoShouDanJu.number" />
						<span>结算状态：</span>
						<select name="status" @change="changeSelect()" class="form-control">
								<option attrid="1">
									未结算
								</option>
								<option attrid="2">
									已结算
								</option>
						</select>
						<span>车牌号：</span><input class="inputcph" type="text" v-model="XiaoShouDanJu.platename" /><br />
						<span>业务类型：</span>
						<select name="ywlx" @change="changeSelectywlx()" class="form-control">
							<option attrid="1">中国重汽</option>
							<option attrid="2">陕汽重卡</option>
							<option attrid="3">中国一汽</option>
							<option attrid="4">上汽红岩</option>
							<option attrid="5">其它重型车</option>
							<option attrid="6">中轻型车</option>
							<option attrid="7">其他</option>
						</select>
						<span>单据类型：</span>
						<select name="djlx"  @change="changeSelectdjlx()" class="form-control">
							<option attrid="1">维修</option>
							<option attrid="2">救援</option>
						</select>
						<span>备注：</span><input type="text" class="inputbz" v-model="XiaoShouDanJu.remark" />
				</div>
				<div class="dd">
					<div class="kd">
						<div class="divy"  >
							<ul>
								<li name="cashdesk">
									<span id="img" class="iconfont icon-lishibiaodan"></span>
									<span @click="openCashier()" data-toggle="modal" data-target = "#myModal" id="font" v-perms="'settlementCenter/shouying'">收银</span>
								</li>
								<li name="rollback">
									
								</li>
								<li>
									<span id="img" class="iconfont icon-biaodan"></span>
									<span @click="openRepairOrder()" id="font" v-perms="'settlementCenter/dakai'">打开单据</span>
								</li>
								<li>
									<span id="img" class="glyphicon glyphicon-share"></span>
									<span @click="exportExcel()" id="font" v-perms="'settlementCenter/daochu'">导出</span>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="table-ss">
					<table id="table">
						<thead>
							<tr class="ss-gz">
								<td style="background-color:#39CFDE; width: 150px;"></td>
								<td>销售单号</td>
								<td>单据类型</td>
								<td>结算方式</td>
								<td>单据状态</td>
								<td>结算状态</td>
								<td>结算时间</td>
								<td>结算人</td>
								<td>结算金额</td>
								<td>业务类型</td>
								<td>客户名称</td>
								<td>车牌号</td>
								<td>车型</td>
								<td>车架号</td>
								<td>联系电话</td>
								<td>保险公司</td>
								<td>服务顾问</td>
								<td>完成时间</td>
								<td>备注</td>
							</tr>
						</thead>
						<tbody>
							<tr @click="switchTr(i)" v-for="i in list" id="ccc">
								<td style="background-color:#cbcbcb; width: 150px;">
									<span v-if="i.check==true" style="font-size: 10px; color: white;left: 10px;"  class="glyphicon glyphicon-stop"></span>
								</td>
								<td>{{i.number}}</td>
								<td>{{i.wtype}}</td>
								<td>{{i.setter}}</td>
								<td>{{i.status}}</td>
								<td>{{i.paymenttype}}</td>
								<td>{{i.cashiertime}}</td>
								<td>{{i.staffpeople}}</td>
								<td>{{i.price}}</td>
								<td>{{i.carbrandname}}</td>
								<td>{{i.clientname}}</td>
								<td>{{i.carnumber}}</td>
								<td>{{i.cartypename}}</td>
								<td>{{i.carnumber1}}</td>
								<td>{{i.carerphone}}</td>
								<td>{{i.jqinsurance}}</td>
								<td>{{i.staffname}}</td>
								<td>{{i.overworkdate}}</td>
								<td></td>
							</tr>	
							<tr>
								<td colspan="22" rowspan="22"></td>
							</tr>
							<tr>
								<td colspan="22"></td>
							</tr>
							<tr>
								<td colspan="22"></td>
							</tr>
							<tr>
								<td colspan="22"></td>
							</tr>
							<tr>
								<td colspan="22"></td>
							</tr>
						</tbody>	
							
					</table>	
				</div>
				<div>
					<span style="color: #000000;" >合计：{{list.length}}条记录</span>
				</div>
			</div>
			</form>
			<div class="footer">
				<!-- Modal -->
				<div  class="modal fade bs-example-modal-lg" id="myModal" >
				<div class="modal-dialog modal-lg" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title">收银中心</h4>
						</div>
						<div class="modal-body">
							<table>
								<tr>
									<td>客总费</td>
									<td style="padding-left: 25px;">税率（%）</td>
									<td style="padding-left: 25px;">加税金</td>
									<td style="padding-left: 25px;">抹尾数</td>
									<td style="padding-left: 25px;">积分抵扣（元）</td>
								</tr>
								<tr>
									<td><input readonly="readonly" name="customerPrice" type="text"></td>
									<td style="padding-left: 25px;">
										<input readonly="readonly" value="0.98" type="text"></td>
									<td style="padding-left: 25px;">
										<input  readonly="readonly" name="taxes" type="text"></td>
									<td style="padding-left: 25px;">
										<select name="moweishu" @change="moweishu">
											<option attrid=0>请选择</option>
											<option attrid=1>抹税金</option>
										</select>
									</td>
									<td style="padding-left: 25px;"><input type="text" name="jfen" @change="moneyjfen()" oninput = "value=value.replace(/[^\d]/g,'')"></td>
								</tr>
							</table>
							<div class="row">
								<div class="col-md-6">
									<p style="margin-top: 10px;">
										<label>应收金额:</label><span style="color: red;font-size: 26px;" name="customerMoney"></span>
									</p>
									<p>
										<span>结算状态：</span>
										<select name="cashierstatic">
											<option>正常结算</option>
											<option>部分结算</option>
											<option>挂账结算</option>
										</select>
									</p>
								</div>
								<div style="float: right;margin-top: 30px;margin-right: 50px;">
									实收金额：<span name="money"></span>
									<input type="text" name="moneynum" @change="setchange()" oninput = "value=value.replace(/[^\d]/g,'')"/>
									<button class="btn btn-success" data-target="#myModaldd" data-toggle="modal" data-target=".bs-example-modal-sm">确认支付</button>
								</div>
							</div>
							<div>
								<form class=" ">
									<table>
										<tr>
											<td></td>
										</tr>
										<tr>
											<td><span style="font-size: 1.2em;font-weight: 500; color: #000000;">支付方式：</span></td>
										</tr>
										<tr>
											<td>&nbsp;&nbsp;&nbsp;</td>
											<td>现金</td>
											<td><input checked name="zhifu" type="radio" id="" value="现金" /></td>
										</tr>
									</table>
								</form>
							</div>

							<div>
								<span>找零：</span><span name="change" v-text="cashi.change"></span>

							</div>
						</div>
						<div class="modal-footer">
							<button style="margin-right: 35px;" class="btn btn-default"  data-dismiss="modal">取消</button>
						</div>
					</div>
				</div>
			</div>
			
			
			
			<div class="modal fade" tabindex="-1" role="dialog" id="myModaldd" >
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title">支付</h4>
						</div>
						<div class="modal-body">
							<p>已确认金额现在提交？</p>
						</div>
						<div class="modal-footer">
							<a type="button" class="btn btn-default" data-dismiss="modal">取消</a>
							<button type="button" class="btn btn-primary" data-dismiss="modal"  @click="addCashier()">确定</button>
						</div>
					</div>
					<!-- /.modal-content -->
				</div>
			<!-- /.modal-dialog -->
			</div>
			
			
			
			
			
				<div class="modal fade" id="myModalfwgw">
				  <div class="modal-dialog"  role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				        <h4 class="modal-title" id="myModalLabel">选择员工</h4><button style="float: right; margin-right: 40px; margin-top: -30px;" class="btn btn-success" >确定</button>
				      </div>
				      <div class="modal-body">
						<select style="width: 570px;">
							<option>00000-总厂</option>
							<option>00001-成高卡修</option>
						</select><br />
						<select style="width: 570px;">
							<option>所有</option>
							<option>10-总经办</option>
							<option>11-财务部</option>
							<option>12-人事行政部</option>
							<option>13-销售部</option>
							<option>14-售后服务部</option>
							<option>15-装饰部</option>
						</select>
						<div>
							<table class="ta">
								<tr class="ss-gz2">
									<td>部门名称</td>
									<td>工号</td>
									<td>姓名</td>
								</tr>
								<tr>
									<td></td>
								</tr>	
							</table>	
						</div>
				      </div>
				      <div class="modal-footer">
				        
				      </div>
				    </div>
				  </div>
				</div>
				
<div class="modal" id="myModal33" style="margin-top: 80px;" data-backdrop>
		    <div class="modal-dialog">
		     <div class="modal-content" id="model2" style="width: 600px; height: 500px;">
		      <span class="close" data-dismiss="modal">&times;</span>
		      <div class="modal-header">
		       <div class="col-md-10"><h4>选择员工</h4></div>
		       <div class="col-md-2">
		        <button class="btn btn-success" type="submit">确认</button>
		       </div>
		      </div>
		      <div class="modal-body">
		       <form class="form-horizontal">
		        <div style="background-color:#f7f7f7;height: 40px;line-height: 40px;padding-left: 20px;">
		         <select class="aa8" style="height: 25px;width: 400px;">
		          <option>00000-总厂</option>
		          <option>00001-ddm</option>
		          <option>00002-11</option>
		         </select>
		        </div>
		        <div id="mm1" >
		         <table>
		          <tr>
		           <td style="background-color:darkturquoise;"></td>
		           <td>部门名称</td>
		           <td>部门编号</td>
		           <td>部门姓名</td>
		          </tr>
		          <tr>
		           <td><input type="checkbox"></td>
		           <td>前台</td>
		           <td>0EX0001</td>
		           <td>张三</td>
		          </tr>
		          <tr>
		           <td><input type="checkbox"></td>
		           <td>销售部</td>
		           <td>0EM0004</td>
		           <td>耶律</td>
		          </tr>
		          <tr>
		           <td><input type="checkbox"></td>
		           <td>售后服务部</td>
		           <td>101</td>
		           <td>成千</td>
		          </tr>
		         </table>
		        </div>
		       </form>
		      </div>
		      <div class="modal-footer" style="padding: 0px;">
		       <div style="background-color: #f7f7f7;text-align: right;width: 600;height: 50px;line-height: 50px;padding-right: 505px;">
		       </div>
		      </div>
		     </div>
			 </div>
			</div>
			 </div>
			 </div>
			</div>
		</div>
		<script src="../js/jquery-1.12.4.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/vue.js" type="text/javascript"></script>
		<script src="../js/bootstrap.min.js" type="text/javascript"></script>
		<script type="text/javascript" src="../js/vue-perms.js" ></script>
		<script type="text/javascript">
			//导出数据
			function exportExcel() {
				var id = $("[name=status]").find(":checked").attr("attrid");
				var form = document.createElement("form");
				form.style.display = 'none';
				form.action = "http://localhost:8080/excel/settlementExcel";
				form.method = "post";
				document.body.appendChild(form);
				if(id == 1) {
					var input = document.createElement("input");
					input.type = "hidden";
					input.name = "attrid";
					input.value = "1";
					form.appendChild(input);
				} else {
					var input = document.createElement("input");
					input.type = "hidden";
					input.name = "attrid";
					input.value = "2";
					form.appendChild(input);
				}
				form.submit();
				form.remove();
			}
			//查询未结账的账单
			function selectUnfinished() {
				$.ajax({
					url: "http://localhost:8080/settlementCenter/selectUnfinished",
					type: "post",
					dataType: "json",
					xhrFields: {
						withCredentials: true
					},
					success: function(response) {
						vm.list = response;
						for(var i = 0; i < vm.list.length; i++) {
							if(vm.list[i].check == true) {
								$("[name=startDate]").attr("value", vm.list[i].orderTime);
							}
							vm.setCashier();
						}
					},
					error: function(error) {
						console.log(error);
					}
				});
			}
			
			//查询结账的账单
			function selectFinished() {
				$.ajax({
					url: "http://localhost:8080/settlementCenter/selectFinished",
					type: "post",
					dataType: "json",
					xhrFields: {
						withCredentials: true
					},
					success: function(response) {
						vm.list = response;
						for(var i = 0; i < vm.list.length; i++) {
							if(vm.list[i].check == true) {
								$("[name=startDate]").attr("value", vm.list[i].orderTime);
							}
						}

					},
					error: function(error) {
						console.log(error);
					}
				});
			}
			function selectdjlxwx() {
				$.ajax({
					url: "http://localhost:8080/settlementCenter/selectdjlxwx",
					type: "post",
					dataType: "json",
					xhrFields: {
						withCredentials: true
					},
					success: function(response) {
						vm.list = response;
						for(var i = 0; i < vm.list.length; i++) {
							if(vm.list[i].check == true) {
								$("[name=startDate]").attr("value", vm.list[i].orderTime);
							}
							vm.setCashier();
						}
					},
					error: function(error) {
						console.log(error);
					}
				});
			}
			function selectdjlxjy() {
				$.ajax({
					url: "http://localhost:8080/settlementCenter/selectdjlxjy",
					type: "post",
					dataType: "json",
					xhrFields: {
						withCredentials: true
					},
					success: function(response) {
						vm.list = response;
						for(var i = 0; i < vm.list.length; i++) {
							if(vm.list[i].check == true) {
								$("[name=startDate]").attr("value", vm.list[i].orderTime);
							}
							vm.setCashier();
						}
					},
					error: function(error) {
						console.log(error);
					}
				});
			}
			function selectywlx() {
				$.ajax({
					url: "http://localhost:8080/settlementCenter/selectywlx",
					type: "post",
					dataType: "json",
					xhrFields: {
						withCredentials: true
					},
					success: function(response) {
						vm.list = response;
						for(var i = 0; i < vm.list.length; i++) {
							if(vm.list[i].check == true) {
								$("[name=startDate]").attr("value", vm.list[i].orderTime);
							}
							vm.setCashier();
						}
					},
					error: function(error) {
						console.log(error);
					}
				});
			}
			function selectywlx2() {
				$.ajax({
					url: "http://localhost:8080/settlementCenter/selectywlx2",
					type: "post",
					dataType: "json",
					xhrFields: {
						withCredentials: true
					},
					success: function(response) {
						vm.list = response;
						for(var i = 0; i < vm.list.length; i++) {
							if(vm.list[i].check == true) {
								$("[name=startDate]").attr("value", vm.list[i].orderTime);
							}
							vm.setCashier();
						}
					},
					error: function(error) {
						console.log(error);
					}
				});
			}
			function selectywlx3() {
				$.ajax({
					url: "http://localhost:8080/settlementCenter/selectywlx3",
					type: "post",
					dataType: "json",
					xhrFields: {
						withCredentials: true
					},
					success: function(response) {
						vm.list = response;
						for(var i = 0; i < vm.list.length; i++) {
							if(vm.list[i].check == true) {
								$("[name=startDate]").attr("value", vm.list[i].orderTime);
							}
							vm.setCashier();
						}
					},
					error: function(error) {
						console.log(error);
					}
				});
			}
			function selectywlx4() {
				$.ajax({
					url: "http://localhost:8080/settlementCenter/selectywlx4",
					type: "post",
					dataType: "json",
					xhrFields: {
						withCredentials: true
					},
					success: function(response) {
						vm.list = response;
						for(var i = 0; i < vm.list.length; i++) {
							if(vm.list[i].check == true) {
								$("[name=startDate]").attr("value", vm.list[i].orderTime);
							}
							vm.setCashier();
						}
					},
					error: function(error) {
						console.log(error);
					}
				});
			}
			function selectywlx5() {
				$.ajax({
					url: "http://localhost:8080/settlementCenter/selectywlx5",
					type: "post",
					dataType: "json",
					xhrFields: {
						withCredentials: true
					},
					success: function(response) {
						vm.list = response;
						for(var i = 0; i < vm.list.length; i++) {
							if(vm.list[i].check == true) {
								$("[name=startDate]").attr("value", vm.list[i].orderTime);
							}
							vm.setCashier();
						}
					},
					error: function(error) {
						console.log(error);
					}
				});
			}
			function selectywlx6() {
				$.ajax({
					url: "http://localhost:8080/settlementCenter/selectywlx6",
					type: "post",
					dataType: "json",
					xhrFields: {
						withCredentials: true
					},
					success: function(response) {
						vm.list = response;
						for(var i = 0; i < vm.list.length; i++) {
							if(vm.list[i].check == true) {
								$("[name=startDate]").attr("value", vm.list[i].orderTime);
							}
							vm.setCashier();
						}
					},
					error: function(error) {
						console.log(error);
					}
				});
			}
			function selectywlx7() {
				$.ajax({
					url: "http://localhost:8080/settlementCenter/selectywlx7",
					type: "post",
					dataType: "json",
					xhrFields: {
						withCredentials: true
					},
					success: function(response) {
						vm.list = response;
						for(var i = 0; i < vm.list.length; i++) {
							if(vm.list[i].check == true) {
								$("[name=startDate]").attr("value", vm.list[i].orderTime);
							}
							vm.setCashier();
						}
					},
					error: function(error) {
						console.log(error);
					}
				});
			}
			var vm = new Vue({
				el:".container-fluid",
				data(){
					return {
						ss:[],
						list:[],
						XiaoShouDanJu:{},
						cashier: {},
						cashi: {

							totalNum: null, //总金额
							cashierstatic: "已支付", //结算状态
							paymentType: null, //支付方式
							invoiceno: null, //发票表id
							cashiertime: null, //结算时间
							staffid: null, //员工表id检查该员工的角色是否有权限使用内部券
							onCredit: null, //挂账金额
							interior: null, //内部免单金额
							clientId: null, //客户编号
							change: null, //找零
							Number: null, //销售单号
							otherone: 1, //其他字段
						}
					}
				},
				methods:{
					moweishu: function() {
						var attrid = $("[name=moweishu]").find(":checked").attr("attrid");
						if(attrid == 1) {
							var taxes = $("[name=taxes]").val();
							var price = $("[name=customerMoney]").text();
							var money = $("[name=customerPrice]").val();
							if($("[name=moweishu]").val()=="抹税金"){
								
								$("[name=customerMoney]").text(Number(money).toFixed(2));
							}else if($("[name=moweishu]").val()=="请选择"){
								$("[name=customerMoney]").text(money+taxes)
							}
						}
					},
					selectSettleAccounts(){
						var that = this;
						$.ajax({
							url: "http://localhost:8080/settlementCenter/selectSettleAccounts",
							data:that.XiaoShouDanJu,
							type: "post",
							dataType: "json",
							xhrFields: {
								withCredentials: true
							},
							success:function(result){
								that.list = result;
							},
							error: function(error) {
								console.log(error);
							}
						});
					},
					//打开收银
					openCashier: function() {
						var that = this;
						for(var i = 0; i < that.list.length; i++) {

							if(that.list[i].check == true) {
								$("[name=customerPrice]").val(that.list[i].price);
								var price = that.list[i].price;
								var taxes = price * 0.0098;
								$("[name=taxes]").val(taxes);
								$("[name=customerMoney]").text(price + taxes);
								return;
							}
							if(i == that.list.length - 1) {
								alert("无未结账账单！");
							}
						}
					},
					//导出数据
					exportExcel: function() {
						exportExcel();
					},
					//打开单据
					openRepairOrder: function() {
						var that = this;
						var number=that.cashier.number;
						var status = that.cashier.status;
						var carnumber = that.cashier.carnumber;
						var clientType = 1;
						if(carnumber == null) {
								alert("没有要打开的记录！");
						}else{
					window.location.href="jszxdanju.html?carNumber="+encodeURI(carnumber)+"&&status="+status+""+"&&number="+number+""+"&&clientType="+clientType+"";
						}

						
					},
					switchTr: function(i) {
						var that = this;
						for(var j = 0; j < that.list.length; j++) {
							that.list[j].check = false;
						}
						i.check = true;
						that.cashier = i;
						$("[name=startDate]").attr("value", i.orderTime);
					},
					//改变下拉框事件
					changeSelect: function() {
						var id = $("[name=status]").find(":checked").attr("attrid");
						if(id == 1) {
							selectUnfinished();
							$("[name=cashdesk]").show();
							$("[name=rollback]").hide();
						} else {
							selectFinished();
							$("[name=rollback]").show();
							$("[name=cashdesk]").hide();
						}
					},
					//改变下拉框事件
					changeSelectdjlx: function() {
						var id = $("[name=djlx]").find(":checked").attr("attrid");
						if(id == 1) {
							selectdjlxwx();
						} else {
							selectdjlxjy();
						}
					},
					//改变下拉框事件
					changeSelectywlx: function() {
						var id = $("[name=ywlx]").find(":checked").attr("attrid");
						if(id == 1) {
							selectywlx();
						}
						if(id == 2){
							selectywlx2();
						}
						if(id == 3){
							selectywlx3();
						}
						if(id == 4){
							selectywlx4();
						}
						if(id == 5){
							selectywlx5();
						}
						if(id == 6){
							selectywlx6();
						}
						if(id == 7){
							selectywlx7();
						}
					},
					setCashier: function() {
						var that = this;
						for(var i = 0; i < that.list.length; i++) {
							if(that.list[i].check == true) {
								that.cashier = that.list[i];
							}
						}
					},
					addCashier: function() {
						var that = this;
						that.cashi.paymentType = $("[name=zhifu]").val();
						that.cashi.cashierstatic = $("[name=cashierstatic]").val();
						that.cashi.number = that.cashier.number;
						that.cashi.clientId = that.cashier.clientname;
						that.cashi.cashiertime = new Date();
						that.cashi.totalNum = Number($("[name=customerMoney]").text());
						that.cashi.clientId = that.cashier.clientname;
						if($("[name=cashierstatic]").val() == "挂账结算") {
							that.cashi.onCredit = Number($("[name=moneynum]").val()).toFixed(2);
						}
						console.log(that.cashi);
						if($("[name=moneynum]").val() != ""&&that.cashi.change>=0) {
							var record = JSON.stringify(that.cashi);
							console.log(record);
							$.ajax({
								type:"post",
								data:record,
								contentType: "application/json;charset=utf-8",
								url: "http://localhost:8080/settlementCenter/addCashier",
								success: function(result) {
									console.log(result);
									alert("结算成功!");
									$("#myModal").modal("hide");
									selectUnfinished();
								}
							});
						}else{
							alert("请填写付款额度")
						}
					},
					setchange: function() {
						var that = this;
						if($("[name=moneynum]").val() != "") {
							that.cashi.change = Number(($("[name=moneynum]").val() - Number($(" [name=customerMoney]").text())).toFixed(2));
							console.log(that.cashi.change)
						} else if($("[name=moneynum]").val() == "") {
							console.log("没填")
						}

					},moneyjfen:function(){
						let that = this;
						if($("[name=jfen]").val() != "") {
							
							$("[name=customerMoney]").text(Number(Number($("[name=taxes]").val())+Number($("[name=customerPrice]").val())-Number($("[name=jfen]").val())).toFixed(2))
							
							if($("[name=customerMoney]").text()<0){
								
								$("[name=customerMoney]").text(0)
							}
						}else if($("[name=jfen]").val() == ""){
							
							$("[name=customerMoney]").text(Number($("[name=taxes]").val())+Number($("[name=customerPrice]").val()))
						}
					},
					fwgw(){
						$("#myModalfwgw").model("show");
					},
					khda(){
						window.location.href="../index.html";
					},
					khbj() {
						$("#kh").show();
					},
					czl() {
						$("#che").show();
					},
					c() {
						$("#clxx").show();
						$("#lsxf").hide();
						$("#lshf").hide();
					},
					c1() {
						$("#clxx").hide();
						$("#lsxf").show();
						$("#lshf").hide();
					},
					c2() {
						$("#clxx").hide();
						$("#lsxf").hide();
						$("#lshf").show();
					},
					mod() {
						$("#mymodal1").modal("show");
					},
					mod1() {
						$("#mymodal2").modal("show");
					},
					mod2() {
						$("#mymodal3").modal("show");
					},
					mod3() {
						$("#mymodal4").modal("show");
					},
					s(){
						$("#mymodal").modal("show");
					},
					luo(){
						$("#mymodal5").modal("show");
					},
					showmo(){
						$("#mymodal7").modal("show");
					},
					showmo1(){
						$("#mymodal8").modal("show");
					},
					showmo2(){
						$("#mymodal9").modal("show");
					},
					showmo3(){
						$("#mymodal6").modal("show");
					},
					showmo4(){
						$("#mymodal10").modal("show");
					},
					ba(){
						window.location.href="file.html";
					},
					ba1(){
						$("#mymodal11").modal("show");
					},
					xz(){
						ss=1;
					},
					qx(){
						ss=[];
					},
					showmo5(){
						$("#mymodal13").modal("show");
					}
				},
				created(){
					var that = this;
					selectUnfinished();
					var now = new Date();
					//格式化日，如果小于9，前面补0
					var day = ("0" + now.getDate()).slice(-2);
					//格式化月，如果小于9，前面补0
					var month = ("0" + (now.getMonth() + 1)).slice(-2);
					//拼装完整日期格式
					var today = now.getFullYear() + "-" + (month) + "-" + (day);
					//完成赋值				 
					$("[name=nowDate]").attr("value", today);
					$("[name=rollback]").hide();
				}
			});
		</script>
	</body>
</html>
