<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title>维修接车</title>
		<link rel="stylesheet" href="static/css/bootstrap.min.css" />
		<style type="text/css">
			.icon {
				display: inline-block;
				background-position: left center;
				background-size: 30px;
				background-repeat: no-repeat;
			}
			
			a {
				text-decoration: none;
			}
			
			.table-striped>tbody>tr:nth-child(2n+1)>td,
			.table-striped>tbody>tr:nth-child(2n+1)>th {
				background-color: #E7E7E7
			}
		</style>
	</head>

	<body style="height: 100%; margin: 0; padding: 0;">
		<div id="ctx" class="container-fluid" style="background-color: #f7f7f7	;">
			<div class="row">
				<div>
					<div class="col-xs-9">
						<label style="font-size: 28px; font-family: '微软雅黑'; font-weight: normal;">接车登记</label>
					</div>
					<div class="col-xs-3 form-inline">
						<input id="cpc" type="text" class="form-control" style="width: 280px; " placeholder="车牌号/手机/客户" />
						<input type="button" value="搜索" id="sousuo" class="btn btn-primary btn-lg" />
						<input type="button" value="关闭" class="btn btn-warning" />
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-offset-9 col-xs-3 text-center">
					<div class="col-xs-4 text-center">
						<a id="tokd" href="javascript:;" style="text-indent: 1.5em; font-size: 20px;" class="icon">维修接车</a>
					</div>
					<div class="col-xs-4">
						<a href="javascript:;" @click="openTheRescue" style="text-indent: 1.5em; font-size: 20px;" class="icon">救援开单</a>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-offset-1 col-xs-2">
					<div class="form-inline">
						<span style="font-size: 18px;">车牌号</span>
						<input id="carNumber" v-model="clientInfo.carnumber" type="text" class="form-control" placeholder="车牌号" />
						<button id="queryCarNumber"  class="btn btn-primary btn-lg">选择</button>
						<br /><br />
					</div>
				</div>
				<div class="col-xs-2">
					<p style="color: #4FD6E3; font-size: 16px;">车主信息&nbsp;&nbsp;&nbsp;&nbsp;<!--<span>{{clientInfo.clientType}}</span>--></p>
					<p>车主：<span>{{clientInfo.name}}</span></p>
					<p>地址：<span>{{clientInfo.address}}</span></p>
					<p>驾驶员：<span>{{clientInfo.carer}}</span>&nbsp;&nbsp;联系电话：<span>{{clientInfo.carerphone}}</span></p>
				</div>
				<div class="col-xs-2">
					<p style="color: #4FD6E3; font-size: 16px;">车辆信息</p>
					<p>品牌：<span>{{clientInfo.carBrandName}}</span>&nbsp;&nbsp;<!--车型：<span>{{clientInfo.carTypeName}}</span>--></p>
					<p>发动机品牌：<span>{{clientInfo.engineBrandName}}</span>&nbsp;&nbsp;发动机号：<span>{{clientInfo.enginenumber}}</span></p>
					<p>保险日期：<span>{{clientInfo.jqinsurancedate}}</span>&nbsp;&nbsp;保养日期：<span>{{clientInfo.maintaindate}}</span></p>
				</div>
				<div class="col-xs-1" style="color: red;">
					<p>积分：<span>{{clientInfo.integral}}</span>分</p>
					<p>挂账金额：<span>{{clientInfo.onCredit}}</span>元</p>
					<p>定金金额：<span>{{clientInfo.deposit}}</span>元</p>
					<!--<p>VIP卡余额：<span>{{clientInfo.cost}}</span>元</p>-->
				</div>
			</div>
			<div class="row navbar navbar-default">
				<ul class="nav navbar-nav nav-pills" id="cuttab">
					<select ways="selectRepairing" id="sel" class="form-control">
						<option type="getman" value="">我的接车</option>
						<option type="status" value="超时">超过预计完工的车</option>
						<option type="clientname" value="">所有接车</option>
						<option id="kehu" type="clientname" value="">该客户接车</option>
					</select>
					<li class="active">
						<a href="#">作业中车辆</a>
					</li>
					<li>
						<a href="#">维修历史</a>
					</li>
					<li>
						<a href="#">维修项目</a>
					</li>
					<li>
						<a href="#">领料情况</a>
					</li>
					<li>
						<a href="#">历史回访</a>
					</li>
				</ul>
				<div class="col-xs-12" style="overflow-y:scroll; height: 637px; padding: 0;">
					<table id="table1" class="table  table-bordered">
						<tr>
							<th>单据状态</th>
							<th>业务类型</th>
							<th>客户姓名</th>
							<th>车牌号</th>
							<th>手机号</th>
							<th>维修单号</th>
							<th>单据类型</th>
							<th>开单时间</th>
							<th>预计完工</th>
							<th>完工时间</th>
							<th>结算时间</th>
							<th>预估金额</th>
							<th>服务顾问</th>
							<th>接车人</th>
						</tr>
						<tr v-for="item in list" @dblclick="openTheDocument(item)">
							<td>{{item.status}}</td>
							<td>{{item.type}}</td>
							<td>{{item.clientname}}</td>
							<td>{{item.platename}}</td>
							<td>{{item.phone}}</td>
							<td>{{item.number}}</td>
							<td>{{item.tname}}</td>
							<td>{{item.orderTime}}</td>
							<td>{{item.overworkdate}}</td>
							<td>{{item.nowworkDate}}</td>
							<td>{{item.stockDater}}</td>
							<td>{{item.price}}</td>
							<td>{{item.name}}</td>
							<td>{{item.getman}}</td>
							
						</tr>
					</table>
					<table id="table2" class="table  table-bordered">
						<tr>
							<th>维修单号</th>
							<th>接车时间</th>
							<th>业务类型</th>
							<th>完工时间</th>
							<th>客户名称</th>
							<th>车牌号</th>
							<th>手机</th>
							<th>结算时间</th>
							<th>消费金额</th>
							
						</tr>
						<tr v-for="item in list" @dblclick="openTheDocument">
							<td>{{item.number}}</td>
							<td>{{item.orderTime}}</td>
							<td>{{item.type}}</td>
							<td>{{item.nowworkDate}}</td>
							<td>{{item.name}}</td>
							<td>{{item.carNumber}}</td>
							<td>{{item.phone}}</td>
							<td>{{item.stockDater}}</td>
							<td>{{item.price}}</td>
							
							
						</tr>
					</table>
					<table id="table3" class="table  table-bordered">
						<tr>
							<th>维修单号</th>
							<th>接车时间</th>
							<th>业务类型</th>
							<th>完工时间</th>
							<th>结算时间</th>
							<th>项目编码</th>
							<th>项目名称</th>
							<th>价类</th>
							<th>结算工时</th>
							<th>工时金额</th>
							<th>维修班组</th>
							<th>故障描述</th>

						</tr>
						<tr  v-for="item in list" @dblclick="openTheDocument">
							<td>{{item.number}}</td>
							<td>{{item.orderTime}}</td>
							<td>{{item.type}}</td>
							<td>{{item.nowworkDate}}</td>
							<td>{{item.stockDater}}</td>
							<td>{{item.id}}</td>
							<td>{{item.itemsName}}</td>
							
							<td>{{item.priceType}}</td>
							<td>{{item.workhour}}</td>
							<td>{{item.fprice}}</td>
							<td>{{item.artisanClassName}}</td>
							<td>{{item.faultreasult}}</td>

							
						</tr>
					</table>
					<table id="table4" class="table table-bordered">
					<tr>
							<th>维修单号</th>
							<th>接车时间</th>
							<th>业务类型</th>
							<th>完工时间</th>
							<th>结算时间</th>
							<th>类别</th>
							<th>物料编码</th>
							<th>物料名称</th>
							<th>单位</th>
							<th>价类</th>
							<th>数量</th>
							<th>优惠前单价</th>
							<th>优惠后单价</th>
							<th>优惠后金额</th>
							<th>服务顾问</th>
							<th>对应项目</th>

						</tr>
						<tr  v-for="item in list" @dblclick="openTheDocument">
							<td>{{item.number}}</td>
							<td>{{item.ordertime}}</td>
							<td>{{item.type}}</td>
							<td>{{item.overworkdate}}</td>
							<td>{{item.stockdater}}</td>
							<td>{{item.lltype}}</td>
							<td>{{item.gw}}</td>
							
							<td>{{item.llname}}</td>
							<td>{{item.dw}}</td>
							<td>{{item.priceType}}</td>
							<td>{{item.count}}</td>
							<td>{{item.qprice}}</td>
							<td>{{item.fprice}}</td>
							<td>{{item.fprice*item.count}}</td>
							<td></td>
							<td>{{item.itemname}}</td>

							
						</tr>
					</table>
				</div>
			</div>
			<div class="modal fade" tabindex="-1" role="dialog" id="allcar">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title">选择车辆</h4>
						</div>
						<div class="modal-body form-inline">
						<table class="table table-hover">
							<tr>
								<th>选择</th>
								<th>车牌号</th>
								<th>驾驶人</th>
								<th>驾驶人电话</th>
							</tr>
							<tr v-for="item in allcar">
								<td><input name="cc" type="radio"></td>
								<td>{{item.platename}}</td>
								<td>{{item.driver}}</td>
								<td>{{item.driverphone}}</td>
							</tr>							
						</table>
						</div>
						<div class="modal-footer">
							<button  type="button" class="btn btn-primary itemkeep">保存</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="static/js/jquery-1.12.4.js" ></script>
		<script src="static/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" src="static/js/vue-2.6.js" ></script>
		<script src="static/js/Myip.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">

			
			var vm = new Vue({
				el: "#ctx",
				data() {
					return {
						head: ["单据状态", "业务类型", "客户姓名", "车牌号", "手机号","维修单号", "单据类型", "开单时间", "预计完工", "完工时间", "结算时间", "预估金额", "服务顾问", "接车人"],
						list: [],
						clientInfo:{name:"",carnumber:""},
						allcar:[]
					}
				},
				methods:{
						openTheDocument(item){
					var carNumber=$("#carNumber").val()
					if(item.number==""||item.tname==""){
					window.location.href="document.html?carNumber="+encodeURI(carNumber) +"&&clientType="+vm.clientInfo.clientType+"";
					}else{
						if(item.tname=="维修"){
					window.location.href="updateRepair.html?carNumber="+encodeURI(item.platename)+"&&status="+item.status+""+"&&number="+item.number+""+"&&clientType="+item.clienttype+"";

						}else{
					window.location.href="updateRescue.html?carNumber="+encodeURI(item.platename)+"&&status="+item.status+""+"&&number="+item.number+""+"&&clientType="+item.clienttype+"";

						}
					}
					},
						openTheRescue(){
						var carNumber=$("#carNumber").val()
					window.location.href="rescue.html?carNumber="+encodeURI(carNumber) +"&&clientType="+vm.clientInfo.clientType+"";
					}

				}
			});
			$(function() {
							$("#table1").show()
							$("#table2").hide()
							$("#table3").hide()
							$("#table4").hide()
				$("#sousuo").click(function(){
			 		var cpc=$("#cpc").val();
			 		selectRepairing("getman","**",cpc)
					
				})
				$("#cuttab li").click(function() {
					var txt = $(this).find("a").html();
					$(this).addClass("active").siblings().removeClass("active");
					var data;
					if(txt == "作业中车辆") {
						$("#sel").html("");
						$("#sel").attr("ways","selectRepairing")
						var option1=$("<option type='getman' value=''>我的接车</option>")
						var option2=$("<option type='status' value='超时'>超过预计完成时间接车</option>")
						var option3=$("<option id='kehu' type='clientname' value='"+vm.clientInfo.name+"'>该客户接车</option>")
						var option4=$("<option type='clientname' value=''>所有接车</option>")
						$("#sel").append(option1).append(option2).append(option3).append(option4)
							var content=$("#sel").val();
							var ways=$("#sel").attr("ways")
							var type=$("option:checked").attr("type")
							console.log(type)
							console.log(content)
							console.log(ways)
							selectRepairing(type,content,"**")
							$("#table1").show()
							$("#table2").hide()
							$("#table3").hide()
							$("#table4").hide()
					} else if(txt == "维修历史") {
						$("#sel").html("");
						$("#sel").attr("ways","selectHistary")
						var option1=$("<option type='platename' value='"+vm.clientInfo.carnumber+"'>该车历史</option>")
						var option2=$("<option type='customername' value='"+vm.clientInfo.name+"'>该客户历史</option>")
						$("#sel").append(option1).append(option2)
							var content=$("#sel").val();
							var ways=$("#sel").attr("ways")
							var type=$("option:checked").attr("type")
							console.log(type)
							console.log(content)
							console.log(ways)
							selectRepairAndResuce(type,content,ways)
							$("#table1").hide()
							$("#table2").show()
							$("#table3").hide()
							$("#table4").hide()			
					} else if(txt == "维修项目") {
						$("#sel").html("");
						$("#sel").attr("ways","selectRepairItem")
						var option1=$("<option type='platename' value='"+vm.clientInfo.carnumber+"'>该车历史</option>")
						var option2=$("<option type='customername' value='"+vm.clientInfo.name+"'>该客户历史</option>")
						$("#sel").append(option1).append(option2)
							var content=$("#sel").val();
							var ways=$("#sel").attr("ways")
							var type=$("option:checked").attr("type")
							console.log(type)
							console.log(content)
							console.log(ways)
							selectRepairAndResuce(type,content,ways)
							$("#table1").hide()
							$("#table2").hide()
							$("#table3").show()
							$("#table4").hide()
					} else if(txt == "领料情况") {
						$("#sel").html("");
						$("#sel").attr("ways","selectwl")
						var option1=$("<option type='carNumber' value='"+vm.clientInfo.carnumber+"'>该车历史</option>")
						var option2=$("<option type='client.name' value='"+vm.clientInfo.name+"'>该客户历史</option>")
						$("#sel").append(option1).append(option2)
						var content=$("#sel").val();
							var ways=$("#sel").attr("ways")
							var type=$("option:checked").attr("type")
							console.log(type)
							console.log(content)
							console.log(ways)
							selectRepairAndResuce(type,content,ways)
							$("#table1").hide()
							$("#table2").hide()
							$("#table3").hide()
							$("#table4").show()
					} else {
						data = ["回访内容", "回访时间", "客户编码", "客户名称", "地址", "车牌号", "手机", "电话", "维修项目", "单据类型", "回访效果", "服务顾问", "详细说明", "开单人"];
					}
					vm.head = data;
				});
						
			
				function selectRepairAndResuce(type,content,ways){
					
					$.ajax({
						type:"post",
						url:data.ip+"repair/"+ways+"",
						data:{
							type:type,
							content:content
						},
						xhrFields:{
							withCredentials: true
						},
						dataType:"json",
						success:function(result){
							
							vm.list=result
				}
			});	
			}
		   function selectRepairing(type,content,cpc){
					console.log(type)
					console.log(content)
					console.log(cpc)
					$.ajax({
						type:"post",
						url:data.ip+"repair/selectRepairAndRescue",
						data:{
							type:type,
							content:content,
							cpc:cpc
						},
						xhrFields: {
							withCredentials:true
						},
						dataType:"json",
						success:function(result){
							console.log(111)
							console.log(result)
							vm.list=result
				}
			});	
			}
				
			
				
				$("#sel").change(function(){
					var content=$(this).val();
					var ways=$(this).attr("ways")
					var type=$("option:checked").attr("type")
					console.log(type)
					console.log(content)
					console.log(ways)
					if(ways!="selectRepairing"){
					selectRepairAndResuce(type,content,ways)
					}else{
					
					selectRepairing(type,content,"**")
					}
				})
				$("#queryCarNumber").click(function(){
					$.ajax({
						type:"post",
						url:data.ip+"repair/selectAllCar",
						async:true,
						dateType:"json",
						success:function(result){
							vm.allcar=result
						
						}
					});
					$("#allcar").modal("show")

				})
				selectRepairing("platename","","**")
				$("#tokd").click(function(){
					var carNumber=$("#carNumber").val()
					window.location.href="document.html?carNumber="+encodeURI(carNumber) +"&&clientType="+vm.clientInfo.clientType+"";
					
				})
				$(".itemkeep").click(function(){
					var carnumber=''
					$("#allcar tr:not(:first)").each(function(){
						if($(this).find("td:first input")[0].checked==true){
							carnumber=$(this).find("td:eq(1)").html();
						}
					})
				
					$.ajax({
						type:"post",
						url:data.ip+"repair/selectClientAndCar",
						async:true,
						data:{
							carnumber:carnumber
						},
						dateType:"json",
						success:function(result){
							console.log(carnumber)
							console.log(result)
							vm.clientInfo=result
							$("#allcar").modal("hide")
							$("#kehu").val(vm.clientInfo.name)
						}
					});
				})
			});
	
				
		</script>
	</body>

</html>