<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>维修接车</title>
		<link rel="stylesheet" href="../css/bootstrap.min.css" />
		<style>
			#top1 {
				background-color: rgb(249, 249, 249);
			}
			
			#top1 h3 {
				display: inline-block;
				margin: 10px 850px 10px 30px;
				vertical-align: middle;
			}
			
			#top1 input {
				display: inline-block;
				width: 230px;
			}
			
			#search {
				width: 70px;
				color: white;
				background-color: orange;
				margin-right: 10px;
			}
			
			#close {
				color: white;
				background-color: #999999;
			}
			
			#btns a {
				text-decoration: none;
				color: black;
				font-size: 16px;
			}
			
			#btns span {
				color: orange;
				margin-top: 25px;
			}
			
			#info hr {
				height: 2px;
				width: 98%;
			}
			
			#info table {
				margin-left: 30px;
			}
			
			#info table tr:nth-child(1) {
				color: #31B0D5;
				font-size: 17px;
				font-weight: 600;
			}
			
			#info table tr:nth-child(2) input {
				width: 300px;
				font-size: 17px;
				outline: none;
				border: none;
				border-bottom: #9D9D9D 1.5px solid;
				margin-right: 35px;
			}
			
			#info table tr:nth-child(3) {
				color: #31B0D5;
				font-size: 14px;
				font-weight: 600;
			}
			
			#info table tr:nth-child(4),
			tr:nth-child(5),
			tr:nth-child(6) {
				line-height: 30px;
				color: rgb(110, 110, 110);
			}
			
			#menu {
				width: 98%;
				margin: auto;
				color: #999999;
				background-color: rgb(249, 249, 249);
				margin-top: 10px;
			}
			/*覆盖bootstrap原页签效果*/
			
			.nav-tabs>li.active>a,
			.nav-tabs>li.active>a:focus,
			.nav-tabs>li.active>a:hover {
				color: #31B0D5;
				cursor: default;
				background-color: rgba(0, 0, 0, 0);
				border: none;
				border-top: solid 3px #31B0D5;
			}
			
			.nav-tabs>li>a {
				margin-right: 2px;
				line-height: 1.42857143;
				border: 1px solid transparent;
				border-radius: 0;
			}
			/*覆盖完毕*/
			
			.tabs {
				width: 98%;
				margin: auto;
			}
			
			.tabs thead td {
				color: white;
				background-color: #31B0D5;
			}
		</style>
	</head>

	<body>
		<div class="container-fluid">
			<div id="ctx">
				<div id="top1" class="row">
					<h3 style="display: inline-block;">接车登记</h3>
					<span style="float: right;">
						<input type="text"  placeholder="匹配车牌号/车架号/手机/客户" class="form-control" />
						<button id="search" class="btn btn-default" >搜索</button>
						<button id="close" class="btn btn-default" >关闭</button>
					</span>
				</div>
				<div id="btns" class="row">
					<div class="col-md-3 col-md-push-9">
						<span><img src="../img/1611304083(1).jpg"/></span>
						<a data-toggle="modal" data-target="#openMmodal" >维修接车</a>
						<span><img src="../img/1611304167(1).jpg"/></span>
						<a data-toggle="modal" data-target="#openRmodal">救援开单</a>
						<span><img src="../img/1611304271(1).jpg"/></span>
						<a href="javascript:void(0)">关注公众号</a>
					</div>
				</div>
				<div id="info" class="row">
					<hr color="#31B0D5" />
					<table>
						<tr>
							<td>公众号会员码</td>
							<td>车牌号&nbsp;<span></span></td>
						</tr>
						<tr>
							<td><input type="text" /></td>
							<td><input type="text" /></td>
						</tr>
						<tr>
							<td>车主信息</td>
							<td>车辆信息</td>
						</tr>
						<tr>
							<td>车主：--</td>
							<td>品牌：--</td>
						</tr>
						<tr>
							<td>地址：--</td>
							<td>发动机品牌：--</td>
						</tr>
						<tr>
							<td>驾驶员：--</td>
							<td>保养日期：--</td>
						</tr>
					</table>
				</div>
				<div class="row">
					<ul class="nav nav-tabs" id="menu">
						<li class="active">
							<a href="#index" data-toggle="tab">作业中车辆</a>
						</li>
						<li class="">
							<a href="#lishi" data-toggle="tab">维修历史</a>
						</li>
						<li class="">
							<a href="#object" data-toggle="tab">维修项目</a>
						</li>
						<li class="">
							<a href="#linliao" data-toggle="tab">领料情况</a>
						</li>
					</ul>
				</div>
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="index">
						<div class="row tabs">
							<table border="1px" class="table table-hover">
								<thead>
									<tr class="text-center">
										<td>单据状态</td>
										<td>业务类型</td>
										<td>客户名称</td>
										<td>车牌号</td>
										<td>手机</td>
										<td>会员卡</td>
										<td>维修单</td>
										<td>单据类型</td>
										<td>开单时间</td>
										<td>预计完工</td>
										<td>完工时间</td>
										<td>结算时间</td>
										<td>预估金额</td>
										<td>服务顾问</td>
										<td>接车人</td>
									</tr>
								</thead>
								<tbody>
									<tr v-for="item,index in billss">
										<!--<td v-if="item.bstate=0">接车</td>
										<td v-if="item.bstate=1">作业中</td>
										<td v-if="item.bstate=0">完工</td>-->
										<td>单据状态</td>
										<td>业务类型</td>
										<td>客户名称</td>
										<td>车牌号</td>
										<td>手机</td>
										<td>会员卡</td>
										<td>维修单</td>
										<td>单据类型</td>
										<td>开单时间</td>
										<td>预计完工</td>
										<td>完工时间</td>
										<td>结算时间</td>
										<td>预估金额</td>
										<td>服务顾问</td>
										<td>接车人</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="lishi">
						<div class="row tabs">
							<table border="1px" class="table table-hover">
								<thead>
									<tr class="text-center">
										<td>维修单号</td>
										<td>接车时间</td>
										<td>业务类型</td>
										<td>完工时间</td>
										<td>客户名称</td>
										<td>车牌号</td>
										<td>手机</td>
										<td>会员卡号</td>
										<td>结算时间</td>
										<td>消费金额</td>
									</tr>
								</thead>
								<tbody>
									<tr class="text-center">
										<td>维修单号</td>
										<td>接车时间</td>
										<td>业务类型</td>
										<td>完工时间</td>
										<td>客户名称</td>
										<td>车牌号</td>
										<td>手机</td>
										<td>会员卡号</td>
										<td>结算时间</td>
										<td>消费金额</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="object">
						<div class="row tabs">
							<table border="1px" class="table table-hover">
								<thead>
									<tr class="text-center">
										<td>维修单号</td>
										<td>接车时间</td>
										<td>业务类型</td>
										<td>完工时间</td>
										<td>结算时间</td>
										<td>项目编码</td>
										<td>项目名称</td>
										<td>价类</td>
										<td>工时金额</td>
										<td>故障描述</td>
										<td>描述确认</td>
									</tr>
								</thead>
								<tbody>
									<tr class="text-center">
										<td>维修单号</td>
										<td>接车时间</td>
										<td>业务类型</td>
										<td>完工时间</td>
										<td>结算时间</td>
										<td>项目编码</td>
										<td>项目名称</td>
										<td>价类</td>
										<td>工时金额</td>
										<td>故障描述</td>
										<td>描述确认</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				    <div role="tabpanel" class="tab-pane" id="linliao">领料情况</div>
				</div>

			</div>
		</div>
		<!--
        	作者：a1265390597@163.com
        	时间：2021-01-26
        	描述：救援接车
        -->
        <div id="openRmodal" class="modal fade" tabindex="-1" role="dialog">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content" style="width: 1000px;position: relative;left: -200px;">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        <h4 class="modal-title">救援单</h4>
				        <span>单号:888888888</span>
			        <div class="form-inline" style="float: right;">
				        <button class="btn btn-success" v-if="bills.bstate==0">接车</button>
				        <button class="btn btn-danger"  v-else>竣工检验</button>
			        </div>
			      </div>
			      <div class="modal-body">
			        	<table class="table">
			        		<tr>
			        			<td>单号</td>
			        			<td><input type="text" v-model="bills.bid" readonly="readonly"/></td>
			        			<td>车型</td>
			        			<td><input type="text" readonly="readonly" /></td>
			        			<td>车品牌</td>
			        			<td><input type="text" readonly="readonly"/></td>
			        		</tr>
			        		<tr>
			        			<td>车主</td>
			        			<td><input type="text" readonly="readonly"/></td>
			        			<td>驾驶员</td>
			        			<td><input type="text" /></td>
			        			<td>手机</td>
			        			<td><input type="text" /></td>
			        		</tr>
			        		<tr>
			        			<td>服务顾问</td>
			        			<td><input type="text" /><button class="btn btn-success"data-toggle="modal" data-target="#myModal33" >选择</button></td>
			        			<td>业务类别</td>
			        			<td><select></select></td>
			        			<td>施工班次</td>
			        			<td><select></select></td>
			        		</tr>
			        		<tr>
			        			<td>当前里程</td>
			        			<td><input type="text" /></td>
			        			<td>派工时间</td>
			        			<td><input type="text" readonly=""/></td>
			        			<td>结算方式</td>
			        			<td><select></select></td>
			        		</tr>
			        		<tr>
			        			
			        			<td>赔款公司</td>
			        			<td><select></select></td>
			        			<td>派工班组</td>
			        			<td><input type="text" /><button class="btn btn-success">选择</button></td>
			        			<td>出发时间</td>
			        			<td><input type="text" readonly="readonly"/></td>
			        		</tr>
			        		
			        		<tr>
			        			<td>出发地址</td>
			        			<td><input type="text" /></td>
			        			<td>驾驶车辆</td>
			        			<td><input type="text" /></td>
			        			<td>行驶里程</td>
			        			<td><input type="text" /></td>
			        		</tr>
			        		<tr>
			        			<td>施工时间</td>
			        			<td><input type="text" /></td>
			        			<td>施工地址</td>
			        			<td><input type="text" readonly="readonly"/></td>
			        			<td>完工时间</td>
			        			<td><input type="text" readonly="readonly"/></td>
			        		</tr>
			        		<tr>
			        			<td>预估金额</td>
			        			<td><input type="text" readonly="readonly"/></td>
			        			<td>维修备注</td>
			        			<td><input type="text" /></td>
			        			<td>救援陈述</td>
			        			<td><input type="text" /></td>
			        		</tr>
			        	</table>
			        	<ul class="nav nav-tabs" >
							<li role="presentation" class="active"><a href="#wxls2" data-toggle="tab">维修项目</a></li>
							<li role="presentation"><a href="#llqk2" data-toggle="tab">领料情况</a></li>
							<li role="presentation"><a href="#fjxm2" data-toggle="tab">附加项目</a></li>
							<li role="presentation"><a href="#lshf2" data-toggle="tab">历史回访</a></li>
						</ul>
						<div class="tab-content" style="padding: 5px;;">
							<div id="wxls2" class="active tab-pane bg-warning">
								<nav class="navbar navbar-default">
								  <div class="container-fluid">
								    <div class="navbar-header">
								      <a class="navbar-brand" href="#">
									         维修项目
								      </a>
									</div>
									    <ul class="nav navbar-nav">
									       	<li><a href="#">单项项目</a></li>
									       	<li><a href="#">多项添加</a></li>
									        <li><a href="#">修改项目</a></li>
									        <li><a href="#">删除项目</a></li>
									        <li><a href="#">修改班组</a></li>
									        <li><a href="#">重置价格</a></li>
								        </ul>
								  </div>
								</nav>
								<table class="table">
									<tr>
										<td>选择</td>
										<td>项目编码</td>
										<td>项目名称</td>
										<td>数量</td>
										<td>价类</td>
										<td>优惠前单价</td>
										<td>优惠后单价</td>
										<td>优惠后金额</td>
										<td>故障描述</td>
										<td>故障原因</td>
										<td>维修班组</td>
										<td>作业人员</td>
										<td>服务顾问</td>
										<td>免单原因</td>
									</tr>
									<tr>
										<td>选择</td>
										<td>项目编码</td>
										<td>项目名称</td>
										<td>数量</td>
										<td>价类</td>
										<td>优惠前单价</td>
										<td>优惠后单价</td>
										<td>优惠后金额</td>
										<td>故障描述</td>
										<td>故障原因</td>
										<td>维修班组</td>
										<td>作业人员</td>
										<td>服务顾问</td>
										<td>免单原因</td>
									</tr>
								</table>
							</div>
							<div id="llqk2" class="tab-pane bg-warning">
								<nav class="navbar navbar-default">
								  <div class="container-fluid">
								    <div class="navbar-header">
								      <a class="navbar-brand" href="#">
									         领料情况
								      </a>
								    </div>
								  </div>
								</nav>
								<table class="table">
									<tr>
										<td>类别</td>
										<td>领料日期</td>
										<td>领料人</td>
										<td>物料编码</td>
										<td>物料名称</td>
										<td>单位</td>
										<td>价类</td>
										<td>数量</td>
										<td>优惠前单价</td>
										<td>优惠后单价</td>
										<td>优惠后金额</td>
										<td>服务顾问</td>
										<td>免单原因</td>
									</tr>
								</table>
							</div>
							<div id="fjxm2" class="tab-pane bg-warning">
								<nav class="navbar navbar-default">
								  <div class="container-fluid">
								    <div class="navbar-header">
								      <a class="navbar-brand" href="#">
									           附加项目
								      </a>
								    </div>
								    <ul class="nav navbar-nav">
									       	<li><a href="#">添加项目</a></li>
									        <li><a href="#">修改项目</a></li>
									        <li><a href="#">删除项目</a></li>
								        </ul>
								  </div>
								</nav>
								<table>
									<tr>
										<td>附加项目</td>
										<td>价类</td>
										<td>金额</td>
										<td>备注</td>
									</tr>
								</table>
							</div>
							<div id="lshf2" class="tab-pane bg-warning">
								<nav class="navbar navbar-default">
								  <div class="container-fluid">
								    <div class="navbar-header">
								      <a class="navbar-brand" href="#">
									         结算信息
								      </a>
								    </div>
								  </div>
								</nav>
								<table>
									<tr>
										<td>结算状态</td>
										<td>优惠前金额</td>
										<td>合计金额</td>
										<td>材料费</td>
										<td>工时费</td>
										<td>附加费</td>
										<td>结算时间</td>
										<td>结算人</td>
										<td>现金</td>
										<td>银行卡</td>
										<td>票据</td>
										<td>挂账金额</td>
										<td>冲储值卡</td>
										<td>冲订金</td>
										<td>收税金</td>
										<td>抵用券</td>
										<td>抹尾数</td>
										<td>内部账</td>
										<td>积分抵扣</td>
										<td>到账盈亏</td>
										<td>发票种类</td>
										<td>发票号</td>
										<td>发票金额</td>
									</tr>
								</table>
							</div>
						</div>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
			      	<button type="button" class="btn btn-default" >保存</button>
			      </div>
			    </div><!-- /.modal-content -->
			  </div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
			
			<!--
            	作者：a1265390597@163.com
            	时间：2021-01-26
            	描述：维修接车
            -->
            <div id="openMmodal" class="modal fade" tabindex="-1" role="dialog">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content" style="width: 1000px;position: relative;left: -200px;">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        <h4 class="modal-title">维修</h4>
			        <div class="form-inline" style="float: right;">
				        <button class="btn btn-success" v-if="如果id=0">接车</button>
				        <button class="btn btn-warning" v-else-if="如果=1">作业中</button>
				        <button class="btn btn-danger"  v-else>竣工检验</button>
			        </div>
			      </div>
			      <div class="modal-body">
			        	<table class="table">
			        		<tr>
			        			<td>单号</td>
			        			<td><input type="text" v-model="bills.bid" readonly="readonly"/></td>
			        			<td>车牌号码</td>
			        			<td><input type="text" readonly="readonly"/></td>
			        			<td>车辆型号</td>
			        			<td><input type="text" readonly="readonly"/></td>
			        		</tr>
			        		<tr>
			        			<td>车辆品牌</td>
			        			<td><input type="text" readonly="readonly"/></td>
			        			<td>车主姓名</td>
			        			<td><input type="text" readonly="readonly"/></td>
			        			<td>服务顾问</td>
			        			<td><input type="text" /><button class="btn btn-success"data-toggle="modal" data-target="#myModal33">选择</button></td>
			        		</tr>
			        		<tr>
			        			<td>驾驶员</td>
			        			<td><input type="text" /></td>
			        			<td>进驶里程</td>
			        			<td><input type="text"></td>
			        			<td>联系电话</td>
			        			<td><input type="text"></td>
			        		</tr>
			        		<tr>
			        			<td>进厂油量</td>
			        			<td><select>
			        					<option>1/4</option>
			        					<option>1/6</option>
			        					<option>1/8</option>
			        				</select>
			        			</td>
			        			<td>上次里程</td>
			        			<td><input type="text" readonly="readonly"></td>
			        			<td>进厂时间</td>
			        			<td><input type="text" readonly="readonly"></td>
			        		</tr>
			        		<tr>
			        			<td>业务类别</td>
			        			<td><select>
			        					
			        				</select>
			        			</td>
			        			<td>施工班次</td>
			        			<td><select>
			        					
			        				</select>
			        			</td>
			        			<td>接车人</td>
			        			<td><input type="text" readonly="readonly"></td>
			        		</tr>
			        		<tr>
			        			<td>预计完工</td>
			        			<td><input type="text"></td>
			        			<td>结算方式</td>
			        			<td><select>
			        					
			        				</select>
			        			</td>
			        			<td>赔款公司</td>
			        			<td><select>
			        					
			        				</select>
			        			</td>
			        		</tr>
			        		<tr>
			        			<td>完工时间</td>
			        			<td><input type="text"></td>
			        			<td>上次进厂</td>
			        			<td><input type="text" readonly="readonly"></td>
			        			<td>预估金额</td>
			        			<td><input type="text" readonly="readonly"></td>
			        		</tr>
			        		<tr>
			        			<td>接待备注</td>
			        			<td><input type="text"></td>
			        			<td>报修陈述</td>
			        			<td colspan="3"><textarea name="" rows="" cols=""></textarea>
			        			</td>
			        		</tr>
			        	</table>
			        	<ul class="nav nav-tabs" >
							<li role="presentation" class="active"><a href="#wxls" data-toggle="tab">维修项目</a></li>
							<li role="presentation"><a href="#llqk" data-toggle="tab">领料情况</a></li>
							<li role="presentation"><a href="#fjxm" data-toggle="tab">附加项目</a></li>
							<li role="presentation"><a href="#lshf" data-toggle="tab">历史回访</a></li>
						</ul>
						<div class="tab-content" style="padding: 5px;;">
							<div id="wxls" class="active tab-pane bg-warning">
								<nav class="navbar navbar-default">
								  <div class="container-fluid">
								    <div class="navbar-header">
								      <a class="navbar-brand" href="#">
									         维修项目
								      </a>
									</div>
									    <ul class="nav navbar-nav">
									       	<li><a href="#">单项项目</a></li>
									       	<li><a href="#">多项项目</a></li>
									        <li><a href="#">修改项目</a></li>
									        <li><a href="#">删除项目</a></li>
									        <li><a href="#">修改班组</a></li>
									        <li><a href="#">重置价格</a></li>
								        </ul>
								  </div>
								</nav>
								<table class="table">
									<tr>
										<td>选择</td>
										<td>项目编码</td>
										<td>项目名称</td>
										<td>数量</td>
										<td>价类</td>
										<td>优惠前单价</td>
										<td>优惠后单价</td>
										<td>优惠后金额</td>
										<td>故障描述</td>
										<td>故障原因</td>
										<td>维修班组</td>
										<td>作业人员</td>
										<td>服务顾问</td>
										<td>免单原因</td>
									</tr>
									<tr>
										<td>选择</td>
										<td>项目编码</td>
										<td>项目名称</td>
										<td>数量</td>
										<td>价类</td>
										<td>优惠前单价</td>
										<td>优惠后单价</td>
										<td>优惠后金额</td>
										<td>故障描述</td>
										<td>故障原因</td>
										<td>维修班组</td>
										<td>作业人员</td>
										<td>服务顾问</td>
										<td>免单原因</td>
									</tr>
								</table>
							</div>
							<div id="llqk" class="tab-pane bg-warning">
								<nav class="navbar navbar-default">
								  <div class="container-fluid">
								    <div class="navbar-header">
								      <a class="navbar-brand" href="#">
									         领料情况
								      </a>
								    </div>
								    <ul class="nav navbar-nav">
									       	<li><a href="#">物料需求</a></li>
									        <li><a href="#">领料</a></li>
									        <li><a href="#">重置价格</a></li>
								        </ul>
								  </div>
								</nav>
								<table class="table">
									<tr>
										<td>类别</td>
										<td>领料日期</td>
										<td>领料人</td>
										<td>物料编码</td>
										<td>物料名称</td>
										<td>单位</td>
										<td>价类</td>
										<td>数量</td>
										<td>优惠前单价</td>
										<td>优惠后单价</td>
										<td>优惠后金额</td>
										<td>服务顾问</td>
										<td>免单原因</td>
									</tr>
									<tr>
										<td>类别</td>
										<td>领料日期</td>
										<td>领料人</td>
										<td>物料编码</td>
										<td>物料名称</td>
										<td>单位</td>
										<td>价类</td>
										<td>数量</td>
										<td>优惠前单价</td>
										<td>优惠后单价</td>
										<td>优惠后金额</td>
										<td>服务顾问</td>
										<td>免单原因</td>
									</tr>
								</table>
							</div>
							<div id="fjxm" class="tab-pane bg-warning">
								<nav class="navbar navbar-default">
								  <div class="container-fluid">
								    <div class="navbar-header">
								      <a class="navbar-brand" href="#">
									           附加项目
								      </a>
								    </div>
								    <ul class="nav navbar-nav">
									       	<li><a href="#">添加项目</a></li>
									        <li><a href="#">修改项目</a></li>
									        <li><a href="#">删除项目</a></li>
								        </ul>
								  </div>
								</nav>
								<table>
									<tr>
										<td>附加项目</td>
										<td>价类</td>
										<td>金额</td>
										<td>备注</td>
									</tr>
								</table>
							</div>
							<div id="lshf" class="tab-pane bg-warning">
								<nav class="navbar navbar-default">
								  <div class="container-fluid">
								    <div class="navbar-header">
								      <a class="navbar-brand" href="#">
									         结算信息
								      </a>
								    </div>
								  </div>
								</nav>
								<table>
									<tr>
										<td>结算状态</td>
										<td>优惠前金额</td>
										<td>合计金额</td>
										<td>材料费</td>
										<td>工时费</td>
										<td>附加费</td>
										<td>结算时间</td>
										<td>结算人</td>
										<td>现金</td>
										<td>银行卡</td>
										<td>票据</td>
										<td>挂账金额</td>
										<td>冲储值卡</td>
										<td>冲订金</td>
										<td>收税金</td>
										<td>抵用券</td>
										<td>抹尾数</td>
										<td>内部账</td>
										<td>积分抵扣</td>
										<td>到账盈亏</td>
										<td>发票种类</td>
										<td>发票号</td>
										<td>发票金额</td>
									</tr>
								</table>
							</div>
						</div>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
			      	<button type="button" class="btn btn-default">保存</button>
			      </div>
			    </div><!-- /.modal-content -->
			  </div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
			
			<!--
            	作者：a1265390597@163.com
            	时间：2021-01-26
            	描述：服务顾问
          -->
			<div class="modal" id="myModal33" data-backdrop>
		    <div class="modal-dialog">
		     <div class="modal-content" id="model2">
		      <span class="close" data-dismiss="modal">&times;</span>
		      <div class="modal-header">
		       <div class="col-md-10"><h4>选择员工</h4></div>
		       <div class="col-md-2">
		        <button class="btn btn-success" type="submit">确认</button>
		       </div>
		      </div>
		      <div class="modal-body">
		       <form class="form-horizontal">
		        <div style="background-color:#f7f7f7;height: 40px;line-height: 40px;padding-left: 20px;">
		         <select class="aa8" style="height: 25px;width: 400px;">
		          <option>00000-总厂</option>
		          <option>00001-ddm</option>
		          <option>00002-11</option>
		         </select>
		        </div>
		        <div id="mm1">
		         <table>
		          <tr>
		           <td style="background-color:darkturquoise;"></td>
		           <td>部门名称</td>
		           <td>部门编号</td>
		           <td>部门姓名</td>
		          </tr>
		          <tr>
		           <td><input type="checkbox"></td>
		           <td>前台</td>
		           <td>0EX0001</td>
		           <td>张三</td>
		          </tr>
		          <tr>
		           <td><input type="checkbox"></td>
		           <td>销售部</td>
		           <td>0EM0004</td>
		           <td>耶律</td>
		          </tr>
		          <tr>
		           <td><input type="checkbox"></td>
		           <td>售后服务部</td>
		           <td>101</td>
		           <td>成千</td>
		          </tr>
		         </table>
		        </div>
		       </form>
		      </div>
		      <div class="modal-footer" style="padding: 0px;">
		       <div style="background-color: #f7f7f7;text-align: right;width: 600;height: 50px;line-height: 50px;padding-right: 505px;">
		        合计:3条记录
		       </div>
		      </div>
		     </div>
			 </div>
			</div>
			 </div>
			
			
		<script type="text/javascript" src="../js/jquery-1.12.4.js" ></script>
		<!--<script src="js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/jquery.ztree.core.js" type="text/javascript" charset="utf-8"></script>-->
		<script type="text/javascript" src="../js/bootstrap.min.js" ></script>
		<!--<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" src="js/my.js"></script>-->
		<script type="text/javascript" src="../js/vue-2.6.js" ></script>
		<!--<script>
			var vm = new Vue({
				el: "#ctx",
				data() {
					return {
						billss: []
					}
				},
				methods: {
					queryCars: function() {
						$.ajax({
							type: "get",
							url: data.ip + "/weixiu/queryCars",
							xhrFields: {
								withCredentials: true
							},
							success: function(result) {
								vm.billss = result;
							}
						});
					}
				}
			});
			vm.queryCars();
		</script>-->
	</body>

</html>