<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.accp.mapper.FirmtypeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.accp.domain.Firmtype">
        <id column="firmtypeid" property="firmtypeid" />
        <result column="firmtype" property="firmtype" />
        <result column="dadid" property="dadid" />
        <result column="fir1" property="fir1" />
        <result column="fir2" property="fir2" />
        <result column="fir3" property="fir3" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        firmtypeid, firmtype, dadid, fir1, fir2, fir3
    </sql>

</mapper>
