<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.accp.mapper.HunyingzhuangtaibiaoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.accp.domain.Hunyingzhuangtaibiao">
        <id column="marriageid" property="marriageid" />
        <result column="name" property="name" />
        <result column="mar1" property="mar1" />
        <result column="mar2" property="mar2" />
        <result column="mar3" property="mar3" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        marriageid, name, mar1, mar2, mar3
    </sql>

</mapper>
