<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.accp.mapper.ItemRepairMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.accp.domain.ItemRepair">
        <id column="id" property="id" />
        <result column="isRepair" property="isRepair" />
        <result column="wjid" property="wjid" />
        <result column="itemid" property="itemid" />
        <result column="teamid" property="teamid" />
        <result column="count" property="count" />
        <result column="priceType" property="priceType" />
        <result column="otherone" property="otherone" />
        <result column="othertwo" property="othertwo" />
        <result column="otherthree" property="otherthree" />
        <result column="otherfour" property="otherfour" />
        <result column="otherfive" property="otherfive" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, isRepair, wjid, itemid, teamid, count, priceType, otherone, othertwo, otherthree, otherfour, otherfive
    </sql>

</mapper>
