<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.accp.mapper.JiguanbiaoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.accp.domain.Jiguanbiao">
        <id column="jnativplaceid" property="jnativplaceid" />
        <result column="jname" property="jname" />
        <result column="j1" property="j1" />
        <result column="j2" property="j2" />
        <result column="j3" property="j3" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        jnativplaceid, jname, j1, j2, j3
    </sql>

</mapper>
