<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.accp.mapper.MingzubiaoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.accp.domain.Mingzubiao">
        <id column="nationid" property="nationid" />
        <result column="name" property="name" />
        <result column="nat1" property="nat1" />
        <result column="nat2" property="nat2" />
        <result column="nat3" property="nat3" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        nationid, name, nat1, nat2, nat3
    </sql>

</mapper>
