<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.accp.mapper.SysMenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.accp.domain.SysMenu">
        <id column="menu_id" property="menuId" />
        <result column="menu_name" property="menuName" />
        <result column="parent_id" property="parentId" />
        <result column="order_num" property="orderNum" />
        <result column="url" property="url" />
        <result column="menu_type" property="menuType" />
        <result column="visible" property="visible" />
        <result column="perms" property="perms" />
        <result column="create_time" property="createTime" />
        <result column="remark" property="remark" />
        <result column="men1" property="men1" />
        <result column="men2" property="men2" />
        <result column="men3" property="men3" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        menu_id, menu_name, parent_id, order_num, url, menu_type, visible, perms, create_time, remark, men1, men2, men3
    </sql>
    <resultMap type="com.accp.domain.SysMenu" id="BaseResultMapss" extends="BaseResultMap">
        <collection property="children" column="{id=menu_id,roleid=u1}" ofType="com.accp.domain.SysMenu" select="select"  >
            <result property="menuId" column="menu_id"/>
            <result property="roleId" column="u1"/>
        </collection>
    </resultMap>

    <resultMap type="com.accp.domain.SysMenu" id="BaseResultMaptt" >
        <result property="roleId" column="u1"/>
    </resultMap>
    <resultMap id="BaseResultMapp" type="com.accp.domain.SysMenu">
        <result property="roleId" column="role_id"/>
    </resultMap>

    <select id="select" resultMap="BaseResultMapss" >
    SELECT  DISTINCT u.`u1`, sm.*  FROM `user` AS u,user_role AS ur,sys_role AS sr,sys_menu AS sm,sys_role_menu AS srm  WHERE u.`u1`=ur.`userid` AND ur.`roleid`=sr.`role_id` AND sr.`role_id`=srm.`role_id` AND srm.`menu_id`=sm.`menu_id` AND u.`u1`= #{roleid}  AND sm.`parent_id`=#{id} AND sm.`visible`=0 ORDER BY order_num ASC
    </select>

    <select id="select1" resultMap="BaseResultMaptt">
    SELECT DISTINCT sm.* FROM `user` AS u,user_role AS ur,sys_role AS sr,sys_menu AS sm,sys_role_menu AS srm  WHERE u.`u1`=ur.`userid` AND ur.`roleid`=sr.`role_id` AND sr.`role_id`=srm.`role_id` AND srm.`menu_id`=sm.`menu_id` AND u.`u1`=#{roleid}  AND sm.`visible`=0 ORDER BY order_num ASC
    </select>
    <select id="select2" resultMap="BaseResultMapp">
        SELECT * FROM sys_menu AS m,sys_role_menu AS rm WHERE m.`menu_id`=rm.`menu_id` AND rm.`role_id`=#{roleid}
    </select>
</mapper>
