<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.accp.mapper.SysMenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.accp.domain.SysMenu">
        <id column="menu_id" property="menuId" />
        <result column="menu_name" property="menuName" />
        <result column="parent_id" property="parentId" />
        <result column="order_num" property="orderNum" />
        <result column="url" property="url" />
        <result column="menu_type" property="menuType" />
        <result column="visible" property="visible" />
        <result column="perms" property="perms" />
        <result column="create_time" property="createTime" />
        <result column="remark" property="remark" />
        <result column="men1" property="men1" />
        <result column="men2" property="men2" />
        <result column="men3" property="men3" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        menu_id, menu_name, parent_id, order_num, url, menu_type, visible, perms, create_time, remark, men1, men2, men3
    </sql>
    <resultMap type="com.accp.domain.SysMenu" id="BaseResultMapss" extends="BaseResultMap">
        <collection property="children" column="{id=menu_id,roleid=role_id}" ofType="com.accp.domain.SysMenu" select="select"  >
            <result property="menuId" column="menu_id"/>
            <result property="roleId" column="role_id"/>
        </collection>
    </resultMap>

    <resultMap type="com.accp.domain.SysMenu" id="BaseResultMaptt" >
        <result property="roleId" column="role_id"/>
    </resultMap>

    <select id="select" resultMap="BaseResultMapss" >
  	SELECT * FROM sys_menu AS sys,sys_role_menu AS role WHERE sys.`menu_id`=role.`menu_id` AND role.`role_id`= #{roleid}  AND sys.`parent_id`=#{id} AND sys.visible=0 order by order_num asc
    </select>

    <select id="select1" resultMap="BaseResultMaptt">
       SELECT sys.*,role.role_id FROM sys_menu AS sys,sys_role_menu AS role WHERE sys.`menu_id`=role.`menu_id` AND role.`role_id`= #{roleid} order by order_num asc
    </select>

</mapper>
