<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.accp.mapper.TechnicianInformationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.accp.domain.TechnicianInformation">
        <id column="technicianid" property="technicianid" />
        <result column="technicianname" property="technicianname" />
        <result column="sex" property="sex" />
        <result column="isteamleader" property="isteamleader" />
        <result column="teamid" property="teamid" />
        <result column="phone" property="phone" />
        <result column="loginphone" property="loginphone" />
        <result column="address" property="address" />
        <result column="borndate" property="borndate" />
        <result column="wechatnumber" property="wechatnumber" />
        <result column="idcard" property="idcard" />
        <result column="residenceaddress" property="residenceaddress" />
        <result column="residencebank" property="residencebank" />
        <result column="bankaccount" property="bankaccount" />
        <result column="levelid" property="levelid" />
        <result column="maintenancetype" property="maintenancetype" />
        <result column="maintenancebrand" property="maintenancebrand" />
        <result column="tec1" property="tec1" />
        <result column="tec2" property="tec2" />
        <result column="tec3" property="tec3" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        technicianid, technicianname, sex, isteamleader, teamid, phone, loginphone, address, borndate, wechatnumber, idcard, residenceaddress, residencebank, bankaccount, levelid, maintenancetype, maintenancebrand, tec1, tec2, tec3
    </sql>

</mapper>
