<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.accp.mapper.XueweibiaoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.accp.domain.Xueweibiao">
        <result column="collegeid" property="collegeid" />
        <result column="name" property="name" />
        <result column="co1" property="co1" />
        <result column="co2" property="co2" />
        <result column="co3" property="co3" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        collegeid, name, co1, co2, co3
    </sql>

</mapper>
